<div align="center">
    {% if hidden %}
        {% if checked %}
    <input type="hidden" dojotype="dijit.form.TextBox" dojoAttachPoint="{{fieldId}}"
    name="{{fieldId}}" value="{{value}}" />
        {% endif %}
    <input type="checkbox" dojotype="phpr.Default.System.Form.CheckBox"
    {{checked}} {{disabled}} value="1" />
    {% else %}
    <input type="checkbox" dojotype="phpr.Default.System.Form.CheckBox" dojoAttachPoint="checkBox"
    name="{{fieldId}}" {{checked}} {{disabled}} value="1" />
    {% endif %}
</div>
