<tr>
    <td colspan="3">
    <table dojoAttachPoint="accessTable" style="position: relative; left: 75px">
        <tbody dojoAttachPoint="tbody">
            <tr>
                <td>
                    <label>{{accessUserText}}</label>
                </td>
                <td>
                    <label>{{accessReadText}}</label>
                </td>
                <td>
                    <label>{{accessWriteText}}</label>
                </td>
                <td>
                    <label>{{accessAccessText}}</label>
                </td>
                <td>
                    <label>{{accessCreateText}}</label>
                </td>
                <td>
                    <label>{{accessCopyText}}</label>
                </td>
                <td>
                    <label>{{accessDeleteText}}</label>
                </td>
                <td>
                    <label>{{accessDownloadText}}</label>
                </td>
                <td>
                    <label>{{accessAdminText}}</label>
                </td>
                <td>
                    {% if accessPermissions %}
                    <label>{{accessActionText}}</label>
                    {% endif %}
                </td>
            </tr>
            {% if accessPermissions %}
            <tr>
                <td>
                    <select dojoAttachPoint="dataAccessAdd" name="dataAccessAdd" dojoType="phpr.FilteringSelect" required="false"
                    autocomplete="false" value="" invalidMessage="" >
                        {% for user in users %}
                        <option value="{{user.id}}" >{{user.display}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <div align="center">
                        <input type="checkbox" dojotype="phpr.Default.System.Form.CheckBox" dojoAttachPoint="checkReadAccessAdd"
                        name="checkReadAccessAdd" value="1" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="checkbox" dojotype="phpr.Default.System.Form.CheckBox" dojoAttachPoint="checkWriteAccessAdd"
                        name="checkWriteAccessAdd" value="1" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="checkbox" dojotype="phpr.Default.System.Form.CheckBox" dojoAttachPoint="checkAccessAccessAdd"
                        name="checkAccessAccessAdd" value="1" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="checkbox" dojotype="phpr.Default.System.Form.CheckBox" dojoAttachPoint="checkCreateAccessAdd"
                        name="checkCreateAccessAdd" value="1" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="checkbox" dojotype="phpr.Default.System.Form.CheckBox" dojoAttachPoint="checkCopyAccessAdd"
                        name="checkCopyAccessAdd" value="1" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="checkbox" dojotype="phpr.Default.System.Form.CheckBox" dojoAttachPoint="checkDeleteAccessAdd"
                        name="checkDeleteAccessAdd" value="1" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="checkbox" dojotype="phpr.Default.System.Form.CheckBox" dojoAttachPoint="checkDownloadAccessAdd"
                        name="checkDownloadAccessAdd" value="1" />
                    </div>
                </td>
                <td>
                    <div align="center">
                        <input type="checkbox" dojotype="phpr.Default.System.Form.CheckBox" dojoAttachPoint="checkAdminAccessAdd"
                        name="checkAdminAccessAdd" value="1" />
                    </div>
                </td>
                <td>
                    <div dojoAttachPoint="accessAddButton"></div>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    </td>
</tr>
