<tr>
    <td colspan="3">
    <table id="accessTable" style="position: relative; left: 75px">
    <tr>
        <td>
            <label>{{accessUserText}}</label>
        </td>
        <td>
            <label>{{accessReadText}}</label>
        </td>
        <td>
            <label>{{accessWriteText}}</label>
        </td>
        <td>
            <label>{{accessAccessText}}</label>
        </td>
        <td>
            <label>{{accessCreateText}}</label>
        </td>
        <td>
            <label>{{accessCopyText}}</label>
        </td>
        <td>
            <label>{{accessDeleteText}}</label>
        </td>
        <td>
            <label>{{accessDownloadText}}</label>
        </td>
        <td>
            <label>{{accessAdminText}}</label>
        </td>
        <td>
            {% if accessPermissions %}
            <label>{{accessActionText}}</label>
            {% endif %}
        </td>
    </tr>
    {% if accessPermissions %}
    <tr>
        <td>
            <select id="dataAccessAdd" name="dataAccessAdd" dojoType="phpr.FilteringSelect" required="false"
            autocomplete="false" value="" invalidMessage="" >
                {% for user in users %}
                <option value="{{user.id}}" >{{user.display}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="phpr.form.CheckBox" id="checkReadAccessAdd"
                name="checkReadAccessAdd" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="phpr.form.CheckBox" id="checkWriteAccessAdd"
                name="checkWriteAccessAdd" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="phpr.form.CheckBox" id="checkAccessAccessAdd"
                name="checkAccessAccessAdd" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="phpr.form.CheckBox" id="checkCreateAccessAdd"
                name="checkCreateAccessAdd" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="phpr.form.CheckBox" id="checkCopyAccessAdd"
                name="checkCopyAccessAdd" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="phpr.form.CheckBox" id="checkDeleteAccessAdd"
                name="checkDeleteAccessAdd" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="phpr.form.CheckBox" id="checkDownloadAccessAdd"
                name="checkDownloadAccessAdd" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="phpr.form.CheckBox" id="checkAdminAccessAdd"
                name="checkAdminAccessAdd" value="1" />
            </div>
        </td>
        <td>
            <div id="accessAddButton"></div>
        </td>
    </tr>
    {% endif %}
    {{rows|safe}}
    </table>
    </td>
</tr>
