/* -------------------------------------------------------------- 
  
   Blueprint CSS Framework Screen Styles
   * Version:   0.6 (21.9.2007)
   * Website:   http://code.google.com/p/blueprintcss/
   See Readme file in this directory for further instructions.
   
-------------------------------------------------------------- */

@import 'lib/reset.css';

@import 'lib/typography.css';

@import 'lib/liquid.css';

@import 'lib/forms.css';

@import 'plugins/css-classes/css-classes.css';

@import 'plugins/buttons/buttons.css';

@import 'nav_tree.css';

@import 'nav_main.css';

/* Plugins:
   Additional functionality can be found in the plugins directory.
   See the readme files for each plugin. Example:
   @import 'plugins/buttons/buttons.css'; */

/* See the grid:
   Uncomment the line below to see the grid and baseline.
   .container { background: url(lib/grid.png); } */

/* BEGIN Custom Style */

body {
	margin-top: 0;
}

#header {
	background: url(../img/headerbg.png);
	background-repeat: repeat-x;
	width: 100%;
}

#header img {
	margin: 0;
}

#header #search-bar {
	margin: 10px 10px;
	background: url(../img/searchbar.png);
	width: 120px;
	height: 26px;
	background-repeat: no-repeat;
}

#header #search-bar input {
	background: url(../searchfield_bg.png);
	width: 85px;
	border: none;
	height: 16px;
	font-size: 9px;
	font-family: "Lucida Grande",Geneva,Arial,sans-serif;
	font-size: 11px;
	font-weight: 400;
	font-style: normal;
	color: #7E7E7E;
	text-transform: none;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-align: start;
	vertical-align:	baseline;
	margin-top: 5px;
	margin-right: 10px;
}

#header #toolbar {
	margin: 15px;
	color: #ffffff;
	font-size: 11px;
}

#subheader {
	width: 100%;
	height: 26px;
	background: white;
}

#subheader #navigation-container-titel {
	background: #294064;
	height: 26px;
	margin: 0;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
}

#subheader #navigation-container-titel p {
	margin-left: 15px;
}

#subheader .tab {
	background-repeat: no-repeat;
	height: 26px;
	background-position: center top;
	width: 70px;
	line-height: 25px;
	font: Arial;
	color: #666666;
	font-weight: 700;
	font-size: 11px;
}

#subheader .tab-active {
	background: url(../img/tab.png);
	color: white;
}

#subheader .tab a:focus,
  #subheader .tab a:hover,
  #subheader .tab a:active {
	background-color: #8392ab;
	color: #fff;
}

#navigation-container {
	background: #294064;
}

#tree-navigation {
	background: white;
	margin: 10px;
	min-height: 700px;
	margin-top: 0;
}

/* END Custom Style */