<tr>
    <td class="label" colspan="2">
    <table id="modulesTable">
    <tr>
        <td>{{moduleNameText}}</td>
        <td>{{moduleActiveText}}</td>
    </tr>
    {% for module in modules %}
    <tr id="trModulesFor{{module.id}}">
        <td>
            <input id="moduleRelation[{{module.id}}]"
            name="moduleRelation[{{module.id}}]"
            type="hidden"
            value="{{module.name}}"
            dojoType="dijit.form.TextBox" />
            {{module.label}}
        </td>
        <td>
            <input type="checkbox"
            dojotype="dijit.form.CheckBox"
            id="checkModuleRelation[{{module.id}}]"
            name="checkModuleRelation[{{module.id}}]"
            checked="{{module.inProject}}"
            value="1" />
        </td>
    </tr>
    {% endfor %}
    </table>
    </td>
</tr>