<tr>
    <td colspan="3">
    <table id="modulesTable"
    style="position: relative; left: 75px">
    <tr>
        <td>
            <label>{{moduleNameText}}</label>
        </td>
        <td>
            <label>{{moduleActiveText}}</label>
        </td>
    </tr>
    {% for module in modules %}
    <tr id="trModulesFor{{module.id}}">
        <td>
            <input id="moduleRelation[{{module.id}}]" name="moduleRelation[{{module.id}}]" type="hidden"
            value="{{module.name}}" dojoType="dijit.form.TextBox" {{disabled}} />
            {{module.label}}
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="phpr.Default.System.Form.CheckBox" id="checkModuleRelation[{{module.id}}]"
                name="checkModuleRelation[{{module.id}}]"
                {% if module.inProject %}
                checked
                {% endif %}
                value="1" {{disabled}} />
            </div>
        </td>
    </tr>
    {% endfor %}
    </table>
    </td>
</tr>
