<div id="statisticChart"
 style="background-color: white; width: 98%; height: 95%; margin: 10px;">
    <div dojoAttachPoint='ganttContainer'
    style="background-color: #ffffff; border: 20px solid #ffffff; display: block; position: relative; width: 99%;
    border: solid #efefef" >
        <table>
        <tr>
            <td style="width: 10px;">
                &nbsp;
            </td>
            <td>
                <fieldset
                style="border: 1px solid; padding: 5px; width: 500px;">
                    <legend>{{selectedPeriodText}}:</legend>
                    <input id="startDate" name="startDate" type="text" dojoType="dijit.form.DateTextBox"
                    constraints="{datePattern: 'yyyy-MM-dd', strict: true}" value="{startDate}"
                    style="width: 85px;">
                    &nbsp;
                    <input id="endDate" name="endDate" type="text" dojoType="dijit.form.DateTextBox"
                    constraints="{datePattern: 'yyyy-MM-dd', strict: true}" value="{endDate}"
                    style="width: 85px;">
                    &nbsp;
                    <button dojoType="dijit.form.Button" baseClass="positive smallIcon" type="button" iconClass="tick"
                    onClick="
                        if (dijit.byId('startDate').get('value') != null
                            && dijit.byId('endDate').get('value') != null) {
                            dojo.publish('Statistic.changeDate', [dijit.byId('startDate').get('value'),
                                dijit.byId('endDate').get('value')]);
                        }">
                    </button>
                    &nbsp;&nbsp;
                    <button dojoType="dijit.form.DropDownButton" showLabel="false" baseClass="smallIcon"
                    iconClass="help">
                        <div dojoType="dijit.TooltipDialog">
                            <div
                            style="white-space: nowrap;">
                            {{selectedPeriodHelp}}
                            </div>
                        </div>
                    </button>
                </fieldset>
            </td>
        </tr>
        </table>
    </div>
    <div id="statisticContent"
    style="width: 100%;">
    </div>
</div>
