<div dojoType="dijit.layout.BorderContainer" id="defaultMainContent-{{module}}" design="sidebar" persist="true"
 liveSplitters="false" gutters="false"
     style="background: #fff;">
    <div dojoType="dijit.layout.ContentPane" region="top"
    style="width: 95%; margin: 10px;">
        <fieldset
        style="border: 1px solid; padding: 5px; width: 500px;">
            <legend>{{selectedPeriodText}}:</legend>
            <input id="startDate-{{module}}" name="startDate-{{module}}" type="text"
            dojoType="phpr.Form.DateTextBox" constraints="{datePattern: 'yyyy-MM-dd', strict: true}"
            style="width: 85px;">
            &nbsp;
            <input id="endDate-{{module}}" name="endDate-{{module}}" type="text"
            dojoType="phpr.Form.DateTextBox" constraints="{datePattern: 'yyyy-MM-dd', strict: true}"
            style="width: 85px;">
            &nbsp;
            <button dojoType="dijit.form.Button" baseClass="positive smallIcon" type="button" iconClass="tick"
            onClick="
                if (dijit.byId('startDate-{{module}}').get('value') != null
                    && dijit.byId('endDate-{{module}}').get('value') != null) {
                    dojo.publish('Statistic.changeDate', [dijit.byId('startDate-{{module}}').get('value'),
                        dijit.byId('endDate-{{module}}').get('value')]);
                }">
            </button>
            &nbsp;&nbsp;
            <button dojoType="dijit.form.DropDownButton" showLabel="false" baseClass="smallIcon"
            iconClass="help">
                <div dojoType="dijit.TooltipDialog">
                    <div
                    style="white-space: nowrap;">
                    {{selectedPeriodHelp}}
                    </div>
                </div>
            </button>
        </fieldset>
    </div>
    <br />
    <div dojoType="dijit.layout.ContentPane" id="content-{{module}}" region="center"
    style="border-top: 5px solid #294064; width: 100%;">
    </div>
</div>
