<br />
<table id="statisticsTable"
style="border: solid #efefef">
<tr>
    <td
    style="border: solid #efefef">
        <b>{{projectTxt}}</b>
    </td>
    {% for user in users %}
    <td
    style="border: solid #efefef">
        <b>{{user}}</b>
    </td>
    {% endfor %}
    <td
    style="border: solid #efefef">
        <b>{{sumTxt}}</b>
    </td>
    <td
    style="border: solid #efefef">
        <b>{{projectTxt}}</b>
    </td>
</tr>
{% for line in rows %}
<tr>
    <td
    style="border: solid #efefef">
        {{line.project}}
    </td>
    {% for amount in line.userData %}
    <td
    style="border: solid #efefef">
        {{amount}}
    </td>
    {% endfor %}
    <td
    style="border: solid #efefef">
        <b>{{line.sum}}</b>
    </td>
    <td
    style="border: solid #efefef">
        {{line.project}}
    </td>
</tr>
{% endfor %}
{% for line in total %}
<tr>
    <td
    style="border: solid #efefef">
        <b>{{line.title}}</b>
    </td>
    {% for amount in line.userData %}
    <td
    style="border: solid #efefef">
        <b>{{amount}}</b>
    </td>
    {% endfor %}
    <td
    style="border: solid #efefef">
        <b>{{line.sum}}</b>
    </td>
    <td
    style="border: solid #efefef">
        <b>{{line.title}}</b>
    </td>
</tr>
{% endfor %}
</table>
