<tr>
    <td colspan="3">
    <table id="accessTable" style="position: relative; left: 75px">
    <tr>
        <td>
            <label>{{accessUserText}}</label>
        </td>
        <td>
            <label>{{accessReadText}}</label>
        </td>
        <td>
            <label>{{accessWriteText}}</label>
        </td>
        <td>
            <label>{{accessAccessText}}</label>
        </td>
        <td>
            <label>{{accessCreateText}}</label>
        </td>
        <td>
            <label>{{accessCopyText}}</label>
        </td>
        <td>
            <label>{{accessDeleteText}}</label>
        </td>
        <td>
            <label>{{accessDownloadText}}</label>
        </td>
        <td>
            <label>{{accessAdminText}}</label>
        </td>
        <td>
            <label>{{accessNoneText}}</label>
        </td>
        <td>
            <label>{{accessActionText}}</label>
        </td>
    </tr>
    <tr>
        <td>
            <select id="dataAccessAdd" name="dataAccessAdd" dojoType="dijit.form.FilteringSelect" required="true"
            autocomplete="true" value="" invalidMessage="" >
                {% for user in users %}
                <option value="{{user.id}}" >{{user.name}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkReadAccessAdd"
                name="checkReadAccessAdd" checked="false" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkWriteAccessAdd"
                name="checkWriteAccessAdd" checked="false" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkAccessAccessAdd"
                name="checkAccessAccessAdd" checked="false" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkCreateAccessAdd"
                name="checkCreateAccessAdd" checked="false" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkCopyAccessAdd"
                name="checkCopyAccessAdd" checked="false" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkDeleteAccessAdd"
                name="checkDeleteAccessAdd" checked="false" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkDownloadAccessAdd"
                name="checkDownloadAccessAdd" checked="false" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkAdminAccessAdd"
                name="checkAdminAccessAdd" checked="false" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkNoneAccessAdd"
                name="checkNoneAccessAdd" checked="false" value="1" />
            </div>
        </td>
        <td>
            <div id="accessAddButton"></div>
        </td>
    </tr>
    {% for item in accessContent %}
    <tr id="trAccessFor{{item.userId}}"
    {% ifequal currentUser item.userId %}
        style="display: none;"
        {% endifequal %}
    >
        <td>
            <input id="dataAccess[{{item.userId}}]" name="dataAccess[{{item.userId}}]" type="hidden"
            value="{{item.userName}}" dojoType="dijit.form.TextBox" />
            {{item.userName}}
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkReadAccess[{{item.userId}}]"
                name="checkReadAccess[{{item.userId}}]" checked="{{item.read}}" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkWriteAccess[{{item.userId}}]"
                name="checkWriteAccess[{{item.userId}}]" checked="{{item.write}}" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkAccessAccess[{{item.userId}}]"
                name="checkAccessAccess[{{item.userId}}]" checked="{{item.access}}" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkCreateAccess[{{item.userId}}]"
                name="checkCreateAccess[{{item.userId}}]" checked="{{item.create}}" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkCopyAccess[{{item.userId}}]"
                name="checkCopyAccess[{{item.userId}}]" checked="{{item.copy}}" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkDeleteAccess[{{item.userId}}]"
                name="checkDeleteAccess[{{item.userId}}]" checked="{{item.delete}}" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkDownloadAccess[{{item.userId}}]"
                name="checkDownloadAccess[{{item.userId}}]" checked="{{item.download}}" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkAdminAccess[{{item.userId}}]"
                name="checkAdminAccess[{{item.userId}}]" checked="{{item.admin}}" value="1" />
            </div>
        </td>
        <td>
            <div align="center">
                <input type="checkbox" dojotype="dijit.form.CheckBox" id="checkNoneAccess[{{item.userId}}]"
                name="checkNoneAccess[{{item.userId}}]" checked="{{item.none}}" value="1" />
            </div>
        </td>
        <td>
            <div id="accessDeleteButton{{item.userId}}"></div>
        </td>
    </tr>
    {% endfor %}
    </table>
    </td>
</tr>