<tr>
    <td class="label">
        <label for="{{labelfor}}">
        {{label}}
        {% if required %}
        &nbsp;<span class="required">(*)</span>
        {% endif %}
        </label>
    </td>
    <td>
        <input type="hidden" dojoType="dijit.form.TextBox" name="{{id}}" id="{{id}}" value="{{value}}" />
        <iframe id="filesIframe_{{id}}" src="{{iFramePath}}" height="25" width="311px" frameborder="0" scrolling="no"
        style="overflow: hidden; border: 0px;"></iframe>
    </td>
    <td>
        {{tooltip|safe}}
    </td>
</tr>
