<div class="phprScrollWindow"
    dojoAttachEvent="onmouseenter: _enter, ondijitclick: _leave, onmouseleave: _leave">
    <div class="phprScrollArrowLeft" dojoAttachPoint="scrollArrowLeft"
        dojoAttachEvent="onmouseenter: _enterLeft, onmouseleave: _leave">
        &nbsp;
    </div>
    <div class="phprScrollWrapper" style="${style}" dojoAttachPoint="wrapper"
        dojoAttachEvent="onmousemove: _calc">
        <div class="phprScrollPane" dojoAttachPoint="containerNode"></div>
    </div>
    <div class="phprScrollArrowRight" dojoAttachPoint="scrollArrowRight" dojoAttachEvent="onmouseenter: _enterRight, onmouseleave: _leave">
        &nbsp;
    </div>
</div>
