<div>
    <div data-dojo-type="dijit.layout.BorderContainer"
            data-dojo-attach-point="borderContainer"
            data-dojo-props="design: 'headline', gutters: false, liveSplitters: false"
            style="height: 100%; width: 100%;">
        <div data-dojo-type="dijit.layout.ContentPane"
            data-dojo-attach-point="header"
            data-dojo-props="region: 'top'"
            style="height:50px;">
        </div>
        <div data-dojo-type="dijit.layout.ContentPane"
            data-dojo-props="region: 'bottom'"
            style="height:20px;">
            <div data-dojo-type="dijit.form.Form" data-dojo-attach-point="form">
                <div data-dojo-type="dijit.form.CheckBox"
                    data-dojo-props="checked: true"
                    data-dojo-attach-point="checkbox"
                    name="checkbox"></div>
                <label for="checkbox" data-dojo-attach-point="checkboxLabel"></label>
            </div>
        </div>
    </div>
</div>
