#submenu {
	width: auto;
	overflow: hidden;
	margin: 0 0 1.5em 0;
	list-style-type: none;
	border: 0px #f3f3f3 solid;
	border-bottom: 2px #f3f3f3 solid;
	font-size: 11px;
}

#submenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#submenu li {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

#submenu a,
  #submenu strong {
	display: block;
	width: 90%;
	padding: 3px 0px 3px 10%;
	text-decoration: none;
	background-color: #fff;
	color: #444;
	border-bottom: 1px #eee solid;
}

/* Menu Title */

#submenu li#title {
	width: 90%;
	padding: 3px 0px 3px 10%;
	font-weight: bold;
	color: #fff;
	border-bottom: 4px #f3f3f3 solid;
	background: #f1ce47 url(../img/group-list.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	text-transform: uppercase;
}

#submenu li#title a:visited {
	color: #ffffff;	
}

#submenu li#title a {
	text-decoration: none;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	color: #ffffff;		
}

#submenu li span {
	display: block;
	width: 90%;
	padding: 3px 0px 3px 10%;
	font-weight: bold;
	border-bottom: 1px #ddd solid;
}

/* Level 1 */

#submenu li#active,
  #submenu li strong {
	width: 90%;
	padding: 3px 0px 3px 10%;
	font-weight: bold;
	color: #fff;
	background-color: #8392ab;
	border-bottom: 1px #eee solid;
}

#submenu li a {
	width: 90%;
	padding-left: 10%;
	background-color: #fff;
	color: #444;
}

#submenu li a:focus,
  #submenu li a:hover,
  #submenu li a:active {
	background-color: #8392ab;
	color: #fff;
}

/* Level 2 */

#submenu li ul li a,
  #submenu li ul li#active,
  #submenu li ul li strong,
  #submenu li ul li span {
	width: 80%;
	padding-left: 20%;
}

#submenu li ul li a {
	background-color: #f8f8f8;
	color: #666;
}

#submenu li ul li a:focus,
  #submenu li ul li a:hover,
  #submenu li ul li a:active {
	background-color: #8392ab;
	color: #fff;
}

/* Level 3 */

#submenu li ul li ul li a,
  #submenu li ul li ul li#active,
  #submenu li ul li ul li strong,
  #submenu li ul li ul li span {
	width: 70%;
	padding-left: 30%;
}

#submenu li ul li ul li a {
	background-color: #fcfcfc;
	color: #888;
}

#submenu li ul li ul li a:focus,
  #submenu li ul li ul li a:hover,
  #submenu li ul li ul li a:active {
	background-color: #8392ab;
	color: #fff;
}

/* Level 4 */

#submenu li ul li ul li ul li a,
  #submenu li ul li ul li ul li#active,
  #submenu li ul li ul li ul li strong,
  #submenu li ul li ul li ul li span {
	width: 60%;
	padding-left: 40%;
}

#submenu li ul li ul li ul li a {
	background-color: #ffffff;
	color: #aaa;
}

#submenu li ul li ul li ul li a:focus,
  #submenu li ul li ul li ul li a:hover,
  #submenu li ul li ul li ul li a:active {
	background-color: #8392ab;
	color: #fff;
}