#nav_main a {
	color: #CBCBCB;
/*	background: #294064 url("../img/nav_main/tab-left.gif") left bottom no-repeat;*/
	text-decoration: none;
	padding-left: 7px;
	text-transform: uppercase;
	font-family: Verdana;
	font-size: 12px;
	font-weight: 600;
}

#nav_main a span {
	/* background: url("../img/nav_main/tab-right.gif") right bottom no-repeat; */
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 7px;
	margin-top: 0px;
}

#nav_main a, #nav_main a span {
	display: block;
	float: left
}

/* Commented backslash hack hides rule from IE5-Mac \*/

#nav_main a, #nav_main a span {
	float: none
}

/* End IE5-Mac hack */

#nav_main a:hover {
	color: #ffffff;
	background: #294064 url("../img/nav_main/tab-left-hover.gif") left bottom no-repeat;
	text-decoration: none;
	padding-left: 7px;
}

#nav_main a:hover span {
	background: url("../img/nav_main/tab-right-hover.gif") right bottom no-repeat;
	padding-right: 7px;
}

#nav_main {
}

#nav_main li {
	float: left;
	display: block;
	margin: 0;
	padding: 0 4px 0 0;
}

/* Tabs ACTIVE */

#nav_main .active a span {
	margin-top: 0px;
	padding-bottom: 3px;
}

#nav_main .active a {
	color: #ffffff;
	background: #294064 url("../img/nav_main/tab-left-hover.gif") left bottom no-repeat;
	text-decoration: none;
	padding-left: 7px
}

#nav_main .active a span {
	background: url("../img/nav_main/tab-right-hover.gif") right bottom no-repeat;
	padding-right: 7px;
}