<style type="text/css">
.timecardtarget {
    -moz-border-radius: 8pt 8pt;
    radius: 8pt;
    color: #292929;
    display: inline;
    border: 3px solid #f4cc47;
    position: absolute;
    left: 0px;
    width: 195px;
    float: left;
}
.timecardsource {
    border: 1px dotted skyblue;
    -moz-border-radius: 8pt 8pt;
    radius:8pt;
    cursor: move;
    padding-left: 10px;
    background-color: #afb8c5;
    color: #213f64;
}
</style>
<div>
    <h4 style="color: #294064; font-weight: bold;">{{timecardProjectTimesText}}</h4>
</div>
<div style="position: absolute; top:10%; width:50%; left:0%; float: left;">
    <div dojoType="dojo.dnd.Source" id="projectBookingSource" jsId="projectBookingSource" copyOnly="true" selfAccept="false" style="margin: 4px; padding: 4px;">
    {% for item in values %}
        <div class="dojoDndItem timecardsource" id="{{item.id}}">
            {{item.name}}
        </div>
        <br />
    {% endfor %}
    </div>
    <button dojoType="dijit.form.Button" onclick="dijit.byId('manageFavorites').show()" style="margin: 6px;">{{manageFavoritesText}}</button>
    <div dojoType="dijit.Dialog" id="manageFavorites" title="{{manageFavoritesText}}" draggable="false" style="background-color: white; width:auto; height:auto;">
        <div dojoType="phpr.Timecard.Favorites" id="projectFavoritesSource" selfAccept="false" style="background-color: white; border: 2px solid black; width:200px; margin: 4px; padding-top: 4px; float:left;">
            {% for item in allProjects %}
            <div class="dojoDndItem" id="favoritesTarget-{{item.id}}" style="cursor: move;">{{item.name}}</div>
            {% endfor %}
        </div>
        <div dojoType="phpr.Timecard.Favorites" id="projectFavoritesTarget" jsId="projectFavoritesTarget" selfAccept="false" style="background-color: white; border: 2px solid black; width:200px; margin: 4px; padding-top: 4px; float: right;">
            {% for item in values %}
            <div class="dojoDndItem" id="favoritesSoruce-{{item.id}}" style="cursor: move;">{{item.name}}</div>
            {% endfor %}
        </div>
        <input id="selectedProjectFavorites" name="selectedProjectFavorites" type="hidden" value="{% for item in values %}{{item.id}},{% endfor %}" />
        <button dojoType="dijit.form.Button" onclick="dijit.byId('manageFavorites').hide();" style="float: right;" baseClass="positive" iconClass="tick"></button>
    </div>
    <br />
    {{bookingdata|safe}}    
</div>


<div id="rightTimecardPanel" style="position: absolute; top:10%; left:55%; width:40%; height:200px; float: right;">
    {% for hour in hours %}
        {% ifequal hour.pair 0 %}
    <div id="hours{{hour.hour}}" dojoType="dijit.layout.ContentPane"
        style="background-color: white;
        float: left; width:100%;
        margin-left: 0px;
        z-index: -10; height:20px;">
        {% else %}        
    <div id="hours{{hour.hour}}" dojoType="dijit.layout.ContentPane"
        style="background-color: #e9f3ff;
        float: left; width:100%;
        margin-left: 0px;
        z-index: -10; height:20px;">
        {% endifequal %}
        {{hour.hour}}
    </div>
    {% endfor %}
    
    <div id="projectBookingContainer" dojoType="dijit.layout.ContentPane"
    style="position: absolute; top:0%; left:15%;
    margin: 0px; height:260px;
    padding-top: 0px; overflow:hidden; float: right;
    filter: alpha(opacity=50); opacity: .5">
    </div>
</div>