<div dojoType="dojox.layout.ScrollPane" orientation="horizontal"  style="width:100%;">
<table>
<tr>
    {%for day in days%}
    <td style="padding-left:5px; padding-top:0px;" >
        <div style="display:inline; padding:0px; cursor:pointer;" onclick="dojo.publish('Timecard.changeDate', [new Date({{yearNumber}},{{monthNumber}},{{day.day}})]); dojo.byId('hoursSaveButton').focus();">
        {% ifequal day.day today %}
        <table style="padding:0px; background-color: #F1CE47; color: #294064;">
        {% else %}
        <table style="padding:0px; background-color: #294064; color: #fff;">
        {% endifequal %}
        <tr>
            <td style="padding:0px; padding-left:5px; font-size: 11px; width:50%; height:50%;">{{day.week}}</td>
            <td rowspan="2" style="font-weight: bold; vertical-align:top; padding-left:20px; padding-right:0px; padding-top:0px; width:50%; padding-bottom:0px; height:50%; font-size: 25px;">{{day.day}}</td>
        </tr>
        <tr>
            <td style="padding:0px; padding-left:5px; font-weight: bold; font-size: 11px;">{{day.month}}</td>
        </tr>
        </table>
        </div>
    </td>
    {% endfor %}
</tr>
</table>
</div>
