<form dojoType="dijit.form.Form" id="hoursForm" name="hoursForm" style="display:inline;" onsubmit="return false;">
<h4 style="color: #294064; font-weight: bold;">{{timecardWorkingTimesText}}</h4>
<div style="vertical-align: baseline; margin-left:10px; margin-right:10px; background: #F1CE47; border: 1px solid #F1CE47; radius:8pt; -moz-border-radius:8pt 8pt; padding:5px;">
    <div style="vertical-align: baseline; margin-left:1px; margin-right:1px; background: #fff; border: 1px solid #F1CE47; radius:8pt; -moz-border-radius:8pt 8pt; padding:5px;">
        <div style="color: #294064; text-align: center">
            <input dojoType="dijit.form.TextBox" type="hidden" id="date" name="date" value="{{date}}" />
            <div style="color: #294064;">
                <div style="width:100%">{{timecardStartText}}</div>
                <input style="width:52px;" type="text" name="startTime" dojoType="dijit.form.TimeTextBox" constraints="{formatLength:'short', timePattern:'HH:mm'}" />
            </div>
            <div style="color: #294064;">
                <div style="width:100%">{{timecardEndText}}</div>
                <input style="width:52px" type="text" name="endTime" dojoType="dijit.form.TimeTextBox" constraints="{formatLength:'short', timePattern:'HH:mm'}" />
            </div>
            <div>
                <br />
                <button dojoType="dijit.form.Button" baseClass="positive" id="hoursSaveButton" type="submit" iconClass="tick"></button>
            </div>
        </div>
    </div>
</div>
<br />
{{hoursdata|safe}}
<h6 style="text-align:center; color: #294064;">Total: {{totalHours}}</h6>
</form>