<div id="content-ModuleDesigner"
 style="width: 100%; height: 100%; background-color: #294064;">
    <div
    style="background-color: #294064; height: 98%; width: 48%; float: left;">
        <div id="source-ModuleDesigner"
        style="background-color: #fff; height: 65%; width: 100%; margin: 4px; overflow: auto;">
        </div>
        <div dojoType="dijit.layout.TabContainer" id="editor-ModuleDesigner" useMenu="false" useSlider="false"
        style="display: block; background-color: #fff; height: 32%; width: 100%; margin: 4px;">
            <div dojoType="dijit.layout.ContentPane" id="editorTable-ModuleDesigner" title="{{tableText}}"
            style="width: 100%; height: 95%;">
            </div>
            <div dojoType="dijit.layout.ContentPane" id="editorForm-ModuleDesigner" title="{{formText}}"
            style="width: 100%; height: 95%;">
            </div>
            <div dojoType="dijit.layout.ContentPane" id="editorList-ModuleDesigner" title="{{listText}}"
            style="width: 100%; height: 95%;">
            </div>
            <div dojoType="dijit.layout.ContentPane" id="editorGeneral-ModuleDesigner" title="{{generalText}}"
            style="width: 100%; height: 95%;">
            </div>
        </div>
        <div id="saveButton-ModuleDesigner"
        style="width: 100%; margin: 4px; display: block;">
            <br />
            <button dojoType="dijit.form.Button" type="submit" onclick="
            dojo.publish('Module.formProxy', ['processDialogData']);"
            baseClass="positive" iconClass="tick">
                {{saveText}}
            </button>
            &nbsp;&nbsp;
            <button dojoType="dijit.form.Button"  type="submit" onclick="
            dojo.publish('Module.formProxy', ['cancelDialogData']);"
            baseClass="positive" iconClass="cancel">
                {{cancelText}}
            </button>
        </div>
    </div>
    <div dojoType="dijit.layout.ContentPane"
    style="background-color: #fff; height: 95.62%; width: 48%; float: right; margin: 4px;">
        <div dojoType="dijit.layout.TabContainer" id="target-ModuleDesigner" useMenu="false" useSlider="false">
        </div>
    </div>
</div>
