/* ContentPane */

.phprojekt .dijitContentPane {
    padding: 0px;
}

.phprojekt tr.dijitContentPane {
    display: table-row;
}

/* nested layouts */
.phprojekt .dijitTabContainerTop-dijitContentPane,
.phprojekt .dijitTabContainerLeft-dijitContentPane,
.phprojekt .dijitTabContainerBottom-dijitContentPane,
.phprojekt .dijitTabContainerRight-dijitContentPane,
.phprojekt .dijitAccordionContainer-dijitContentPane {
    border: none;
    background-color: #fff;
    padding: 0px;
}

.phprojekt .dijitSplitContainer-dijitContentPane,
.phprojekt .dijitLayoutContainer-dijitLayoutContainer,
.phprojekt .dijitBorderContainer-dijitContentPane {
    border: 0px #B1BADF solid;
    background-color: #fff;
    padding: 0px;
}

.phprojekt .detailsBox .dijitContentPaneSingleChild {
    overflow-y: auto;
}

.phprojekt .detailsBox {
    overflow-x: hidden;
}
