/* Tabs, shared classes */
.phprojekt .dijitTabPaneWrapper {
    background:#fff;
    margin: 0;
    padding: 0;
}

.phprojekt .dijitTab {
    line-height:normal;
    margin-right:4px;    /* space between one tab and the next in top/bottom mode */
    padding:0px;
    border:1px solid #294064;
    /* background: transparent url(../images/tabSprite.png) no-repeat scroll 0 -300px; */
    background: #F0F0F0;
}

.phprojekt .dijitTabInnerDiv {
    padding: 0 5px 2px 2px;
    /* background: transparent url(../images/tabSprite.png) no-repeat scroll right -400px; */
    background: #F0F0F0;
}

.phprojekt .dijitTabContent {
    /* background: transparent url(../images/tabSprite.png) repeat-x scroll 0 -350px; */
    background: #F0F0F0;
}

.phprojekt .dijitTabSpacer {
    display: none;
}

.phprojekt .dijitTabContainer .tabStripRBtn {
    margin-right: 20px;
}
.phprojekt .dijitTabContainer .tabStripLBtn {
    margin-left: 20px;
}

.phprojekt .nowrapTabStrip .dijitTab {
    top: 2px;
}
.phprojekt .dijitTabContainerBottom .nowrapTabStrip .dijitTab {
    top: 0px;
    bottom: 2px;
}

.phprojekt .dijitTabContainer .tabStripMenuButton-Hover {
    cursor: pointer;
}

/* checked tab*/
.phprojekt .dijitTabChecked {
    /* the selected tab (with or without hover) */
    background: #fff;
}

.phprojekt .dijitTabChecked .dijitTabInnerDiv {
    background: #fff;
}

.phprojekt .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
    background: #fff;
}

/* hovered tab */
.phprojekt .dijitTabHover {
    background: url("../images/tabSprite.png") no-repeat 0px -150px;
}

.phprojekt .dijitTabHover .dijitTabInnerDiv {
    background: url("../images/tabSprite.png") no-repeat right -250px;
    border: none !important;
}

.phprojekt .dijitTabHover .dijitTabInnerDiv .dijitTabContent {
    background: url("../images/tabSprite.png") repeat-x 0 -200px;
}

.phprojekt .dijitTabContainer .dijitTabHover .tabLabel {
    color: #A9A098;
}

.phprojekt .dijitTab .dijitClosable .closeImage {
    background: url("../images/tabClose.png") no-repeat right top;
    width: 12px;
    height: 12px;
}

.phprojekt .dijitTab .tabLabel {
    /* make sure tabs w/close button and w/out close button are same height, even w/small (<12px) font */
    min-height: 12px;
    display: inline-block;
    color: #A9A098;
    font-family:Verdana;
    font-size:12px;
    font-weight:600;
    /* text-transform:uppercase; */
}

/* Nested Tabs */

.phprojekt .dijitTabContainerNested .dijitTabListWrapper {
    height: auto;
}

.phprojekt .dijitTabContainerNested .dijitTabContainerTop-tabs {
    border-bottom: 1px solid #294064;
}

.phprojekt .dijitTabContainerTabListNested .dijitTab {
    background: none;
    border: none;
    top: 0px;        /* to override top: 1px/-1px for normal tabs */
}
.phprojekt .dijitTabContainerTabListNested .dijitTab .dijitTabContent {
}
.phprojekt .dijitTabContainerTabListNested .dijitTabHover .dijitTabContent .tabLabel {
    text-decoration: underline;
}
.phprojekt .dijitTabContainerTabListNested .dijitTabChecked .dijitTabContent .tabLabel {
    text-decoration: underline;
    font-weight: bold;
    /*background:#f3f3f3;*/
}
.phprojekt .dijitTabContainer .dijitTabPaneWrapperNested {
    border: none;    /* prevent double border */
}

/* Close button */

.phprojekt .dijitTab .closeImage {
    background-image : url("../images/tabClose.png");
}
.dj_ie6 .phprojekt .dijitTab .closeImage {
    background-image : url("../images/tabClose.gif");
}

.phprojekt .dijitTab .closeButton-hover .closeImage {
    background-image : url("../images/tabCloseHover.png");
}
.dj_ie6 .phprojekt .dijitTab .closeButton-hover .closeImage {
    background-image : url("../images/tabCloseHover.gif");
}

/* ================================ */
/* top tabs */

.phprojekt .dijitTabContainerTop-tabs {
    margin-bottom: 0px;
    border-bottom: 1px solid #294064;
    padding-left: 3px;
    background-position: bottom;
}
.phprojekt .dijitTabContainerTop-tabs .dijitTab {
    margin-bottom: 1px;
}

/* top container */
.phprojekt .dijitTabContainerTop-container {
    border-top: none;
}

/* checked tabs */
.phprojekt .dijitTabContainerTop-tabs .dijitTabChecked {
    border-bottom-color: white;
}

.phprojekt .dijitTabChecked .tabLabel {
    color: #000;
}

.phprojekt .dijitTabContainerTop-tabs,
.phprojekt .dijitTabContainerBottom-tabs {
    padding-left: 3px;
    padding-right: 3px;
}

/* strip */
.phprojekt .dijitTabContainerTopStrip {
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
    padding-top: 2px;
    background: #f2f2f2;
}

.phprojekt .dijitTabContainerTopNone {
    padding-top: 0px;
}
/*
.dj_ie6 .phprojekt .dijitTabContainerTopNone,
.dj_ie7 .phprojekt .dijitTabContainerTopNone {
    padding-top: -1px;
}
*/

/* ================================ */
/* bottom tabs */
.phprojekt .dijitTabContainerBottom-tabs {
    margin-top: 0px;
    border-color: #cccccc;
    background-position: top;
    padding-left: 3px;
}
.phprojekt .dijitTabContainerBottom-tabs .dijitTab {
    bottom: 0px;
    margin-top: -1px;
}

/* bottom container */
.phprojekt .dijitTabContainerBottom-container {
    border-bottom: none;
}

/* checked tabs */
.phprojekt .dijitTabContainerBottom-tabs .dijitTabChecked {
    border-top-color:white;
}

/* strip */
.phprojekt .dijitTabContainerBottomStrip {
    padding-bottom: 2px;
    border: 3px solid #ccc;
    background: #f2f2f2;
    border-top: none;
}

/* ================================ */
/* right tabs */
.phprojekt .dijitTabContainerRight-tabs {
    border-color: #ccc;
    height: 100%;
    padding-top: 3px;
}

.phprojekt .dijitTabContainerRightStrip {
    margin-left: -1px;
}

/* right container */
.phprojekt .dijitTabContainerRight-container {
    border-right: none;
}

/* checked tabs */
.phprojekt .dijitTabContainerRight-tabs .dijitTabChecked {
    border-left-color:white;
}

/* strip */
.phprojekt .dijitTabContainerRightStrip {
    padding-right: 2px;
    border: 3px solid #ccc;
}

.phprojekt .dijitTabContainerRightStrip {
    background: #f2f2f2;
}

/* ================================ */
/* left tabs */
.phprojekt .dijitTabContainerLeft-tabs {
    border-color: #ccc;
    padding-top: 3px;
    height: 100%;
}

.phprojekt .dijitTabContainerLeft .dijitTabListWrapper {
/*    margin-right: -1px;*/
}

/* left conatiner */
.phprojekt .dijitTabContainerLeft-container {
    border-left: none;
}

/* checked tabs */
.phprojekt .dijitTabContainerLeft-tabs .dijitTabChecked {
    border-right-color:white;
}

/* strip */
.phprojekt .dijitTabContainerLeftStrip {
    padding-left: 2px;
    border: 3px solid #ccc;
    background: #f2f2f2;
    border-right: none;
}

/* ================================ */
/* left/right tabs */
.phprojekt .dijitTabContainerLeft-tabs .dijitTab,
.phprojekt .dijitTabContainerRight-tabs .dijitTab {
    margin-right:0px;
    margin-bottom:4px;    /* space between one tab and the next in left/right mode */
}

/* ================================ */

/* this resets the tabcontainer stripe when within a contentpane */
.phprojekt .dijitTabContainerTop-dijitContentPane .dijitTabContainerTop-tabs {
    border-left: 0px solid #ccc;
    border-top: 0px solid #ccc;
    border-right: 0px solid #ccc;
    padding-top: 0px;
    padding-left: 4px;
}

/* ================================ */

/* Menu and slider control styles */
.phprojekt .dijitTabContainer .tabStripButton {
    margin-right: 0;
    padding-top: 2px;
    z-index: 12;
}

.phprojekt .dijitTabContainerBottom .tabStripButton {
    padding-top: 2px;
}

.phprojekt .tabStrip-disabled .tabStripButton .dijitTabInnerDiv {
    padding-bottom: 3px;
    padding-top: 1px;
}

.phprojekt .tabStripButton .dijitTabInnerDiv {
    padding: 3px 2px 4px 2px;
}

.dj_ie6 .phprojekt .tabStripButton .dijitTabInnerDiv,
.dj_ie7 .phprojekt .tabStripButton .dijitTabInnerDiv,
.dj_opera .phprojekt .tabStripButton .dijitTabInnerDiv {
    padding-bottom: 5px;
}
.dj_ie6 .phprojekt .tabStrip-disabled .tabStripButton .dijitTabInnerDiv,
.dj_ie7 .phprojekt .tabStrip-disabled .tabStripButton .dijitTabInnerDiv,
.dj_opera .phprojekt .tabStrip-disabled .tabStripButton .dijitTabInnerDiv {
    padding-bottom: 4px;
}

.phprojekt .dijitTabContainer .tabStripButton {
    /* TODO: instead of hardcoded value set to inline display and let layoutChildren() measure? */
    width: 21px;
}

.phprojekt .dijitTabContainer .tabStripButton img {
    height: 14px;
    background: url(../images/spriteRoundedIconsSmall.png) no-repeat;
}
.dj_ie6 .phprojekt .dijitTabContainer .tabStripButton img {
    background-image: url(../images/spriteRoundedIconsSmall.gif);
}

.phprojekt .dijitTabContainer .tabStripMenuButton img {
    background-position: -15px top;
}
.phprojekt .dijitTabContainer .tabStripSlideButtonLeft img {
    background-position: 0px top;
}
.phprojekt .dijitTabContainer .tabStripSlideButtonRight img {
    background-position: -30px top;
}
/*
.phprojekt .dijitTabContainerTopStrip .dijitTabContainerBottom .tabStripButton .dijitTabInnerDiv {
    padding-top: 4px;
}*/

/* Fix */
.phprojekt .dijitTabContainerBottom-container,
.phprojekt .dijitTabContainerTop-container,
.phprojekt .dijitTabContainerLeft-container,
.phprojekt .dijitTabContainerRight-container {
    border: 0px;
    padding-top: 5px;
}
