.dijitRtl .phprojekt .dijitTab {
    -moz-box-orient:horizontal;
    text-align: right;
}

.dijitRtl .phprojekt .dijitTabInnerDiv {
    padding:2px 9px 2px 8px;
}

.dijitRtl .phprojekt .tabStrip-disabled .tabStripButton .dijitTabInnerDiv {
    padding-bottom: 3px;
    padding-top: 1px;
}

.dijitRtl .phprojekt .tabStripButton .dijitTabInnerDiv {
    padding: 3px 2px 4px 2px;
}

.dijitRtl .phprojekt .dijitTabPaneWrapper {
    #zoom: 1;
}

.dj_ie-rtl .phprojekt .dijitTabContainerLeft-tabs {
    margin-left: 1px !important;
}

.dj_ie-rtl .phprojekt .dijitTabContainerRight-tabs {
    margin-right: 1px !important;
}

.dijitRtl .phprojekt .dijitTabContainerLeft-tabs .dijitTab,
.dijitRtl .phprojekt .dijitTabContainerRight-tabs .dijitTab {
    margin-left:0px;
}

.dj_ie-rtl .phprojekt .dijitTab .dijitTabInnerDiv {
    /* without this the tab label and icon become invisible, as though they were set to visibility:hidden */
    width : 0.1% !important;
}