/** 
 * dijit.layout.BorderContainer 
 *
 */ 

.phprojekt .dijitSplitterHorizontal {
	background: #8392AB;
	border:0;
	border-left:0px solid #8392AB;
	border-right:0px solid #8392AB;
	height:13px;
    margin-bottom:-1px;
}

.phprojekt .dijitSplitterHorizontal .dijitSplitterThumb {
	background:url("../images/splitContainerSizerH-thumb.png") no-repeat;
	top:1px;
	width:19px;
	height:2px;
}

.phprojekt .dijitSplitterVertical {
	background:#294064;
	border:0;
	border-top:0px solid #436496;
	border-bottom:0px solid #436496;
	width:10px;

}

.phprojekt .dijitSplitterVertical .dijitSplitterThumb {
	background:url("../images/splitContainerSizerV-thumb.png") no-repeat;
	left:1px;
	height:19px;
	width:5px;
}
.dijitSplitter {
    background: #294064;
	border:0;
	border-left:0px solid #294064;
	border-right:0px solid #294064;
}
.dijitSplitterCover{
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.dijitSplitterH {
	background: #8392AB;
	border:0;
	border-left:0px solid #8392AB;
	border-right:0px solid #8392AB;
	height:13px;
    margin-bottom:-1px;
}
.dijitSplitterV {
	width:10px;
	border-left:1px;
	border-right:1px;
	cursor: ew-resize;
}