<div style="background: #ffffff; border:20px solid #ffffff; display:block; position:relative; height:300px; solid #efefef"  dojoAttachPoint='ganttContainer'>	

      <table style='width:100%;margin:0px;padding:0px;'>
        <tr>
          <td style='width:100px;'><img src='logo.png'></td>
          <td>
            <fieldset style="border:1px solid; padding:5px;width:300px;">
              <legend>Selected Project Timeline:</legend>
              <div id='TgtMin'></div><div id='TgtMax'></div>
              <input type='submit' id='btnSave' value='Submit' style='vertical-align:bottom;border:1px solid silver;height:15px; font-size:11px;'/>
            </fieldset>
          </td>
        </tr>
      </table>
	  
	  <div dojoType="dijit.Dialog" id="dialog1" title="Warning"
    execute="ProjectChart.dialogCallback(arguments[0]);">
    	
		<div id="message_text"></div>
		
		<br/><button dojoType="dijit.form.Button" type="submit">ok</button>
    </div>
	  
	  <div style="border-bottom:1px solid #7d7d7d; width:15%; height: 20px; top:98px; position:absolute"> </div>	
			<ul class="timeline" id="gantt_timeline" style="width:85%; float:left; text-align:center">
																																																				
			</ul>	  
	  

    <!--{% block body %}-->

    <!--{% endblock %}-->
</div>