<tr>
    <td class="label">
        <label for="{{labelfor}}">
        {{label}}
        {% if required %}
        &nbsp;<span class="required">(*)</span>
        {% endif %}
        </label>
    </td>
    <td>
        <select id="{{id}}" name="{{id}}" dojoType="phpr.FilteringSelect" required="{{required}}" {{disabled}}
        autocomplete="false" value="{{value}}" searchAttr="name" invalidMessage="" dojoAttachPoint="fieldNode">
            {% for item in values %}
            <option value="{{item.id}}">{{item.name}}</option>
            {% endfor %}
        </select>
    </td>
    <td>
        {{tooltip|safe}}
    </td>
</tr>
