<tr>
    <td class="label">
        <label for="{{labelfor}}">
        {{label}}
        {% if required %}
        &nbsp;<span class="required">(*)</span>
        {% endif %}
        </label>
    </td>
    <td>
        <select id="{{id}}[]" name="{{id}}[]" dojoType="dojox.form.CheckedMultiSelect" required="{{required}}"
        {{disabled}} invalidMessage="" multiple="true" dojoAttachPoint="fieldNode">
            {% for item in options %}
            <option value="{{item.id}}" {{item.selected}}>{{item.name}}</option>
            {% endfor %}
        </select>
    </td>
    <td>
        {{tooltip|safe}}
    </td>
</tr>
