<tr>
    <td class="label">
        <label for="{{labelfor}}">
        {{label}}
        {% if required %}
        &nbsp;<span class="required">(*)</span>
        {% endif %}
        </label>
    </td>
    <td>
        <div dojoType="phpr.Default.System.Form.HorizontalSlider" name="{{id}}" value="{{value}}" maximum="100" minimum="0"
        discreteValues="1001" pageIncrement="100" showButtons="false" intermediateChanges="true" {{disabled}}
        id="{{id}}" onChange="
            dojo.byId('{{id}}Text').value=dojo.number.format(arguments[0] / 100, {places: 1, pattern: '#%'});"
        style="height: 20px;">
            <ol dojoType="dijit.form.HorizontalRuleLabels" container="topDecoration" count="5" numericMargin="1"
            style="height: 1.2em; font-size: 75%; color: gray;"></ol>
            <div dojoType="dijit.form.HorizontalRule" container="topDecoration" count=5
            style="height: 5px;"></div>
            <div dojoType="dijit.form.HorizontalRule" container="bottomDecoration" count="11"
            style="height: 5px;"></div>
        </div>
    </td>
    <td>
        {{tooltip|safe}}
        <input type="hidden" readonly id="{{id}}Text" name="{{id}}Text" size="4" value="{{value}}"
        required="{{required}}">
    </td>
</tr>
