<div>
    <h2 class="formHeadline">{{title|safe}}</h2>
    <form dojoAttachPoint="tabform" dojoType="dijit.form.Form" id="{{formId}}" name="{{formId}}"
    enctype="multipart/form-data" action="" method="" class="formTabSubForm">
        <table class="form">
        <col class="col1" />
        <col class="col2" />
        <col class="col3" />
        <tbody dojoAttachPoint="formtable">
        </tbody>
        </table>
        <button type="submit" style="visibility: hidden"></button>
    </form>
</div>
