<tr>
    <td class="label">
        &nbsp;
    </td>
    <td>
        <button dojoType="dijit.form.Button" baseClass="positive" id="subModuleSubmitButton" type="submit"
        iconClass="tick">
            {{saveText}}
        </button>
        &nbsp;
        {% if id > 0 %}
            <button dojoType="dijit.form.Button" baseClass="negative" id="subModuleDeleteButton" type="submit"
            iconClass="cross">
                {{deleteText}}
            </button>
            &nbsp;
        {% endif %}
        <button dojoType="dijit.form.Button" baseClass="negative" id="subModuleNewButton" type="button"
        iconClass="add">
            {{newText}}
        </button>
    </td>
    <td>
        &nbsp;
    </td>
</tr>
