<tr>
    <td class="label">
        <label for="{{labelfor}}">
        {{label}}
        {% if required %}
        &nbsp;<span class="required">(*)</span>
        {% endif %}
        </label>
    </td>
    <td>
        <input type="text" id="{{id}}" name="{{id}}" value="T{{value}}" dojoType="dijit.form.TimeTextBox"
        required="{{required}}" {{disabled}} constraints="{formatLength: 'short', timePattern: 'HH:mm'}"
        dojoAttachPoint="fieldNode" />
    </td>
    <td>
        {{tooltip|safe}}
    </td>
</tr>
