/* SLIDER */

.phprojekt .dijitSliderProgressBarH {
    border-color: #b1badf;
    background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}

.phprojekt .dijitSliderProgressBarV {
    border-color: #b1badf;
    background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}

.phprojekt .dijitSliderFocused .dijitSliderProgressBarH,
.phprojekt .dijitSliderFocused .dijitSliderLeftBumper {
    background-image: url("../images/sliderFullFocus.png");
}

.phprojekt .dijitSliderFocused .dijitSliderProgressBarV,
.phprojekt .dijitSliderFocused .dijitSliderBottomBumper {
    background-image: url("../images/sliderFullVerticalFocus.png");
}

.phprojekt .dijitSliderRemainingBarV {
    border-color: #b4b4b4;
    background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y bottom left;
}

.phprojekt .dijitSliderRemainingBarH {
    border-color: #b4b4b4;
    background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
}

.phprojekt .dijitSliderBar {
    border-style: solid;
    outline: 1px;
}

.phprojekt .dijitSliderFocused .dijitSliderBar {
    border-color: #8ba0bd;
}

.dijit_a11y .dijitSliderProgressBar {
    background-color: #333 !important;
}

.phprojekt .dijitSliderImageHandleH {
    border: 0px;
    width: 15px;
    height: 18px;
    background-position: 0 0 !important;
    background: url("../images/preciseSliderThumb.png") no-repeat center top;
    cursor: pointer;
}

.phprojekt .dijitSliderFocused .dijitSliderImageHandleH {
    background-image: url("../images/preciseSliderThumbFocus.png");
}

.dj_ie6 .phprojekt .dijitSliderImageHandleH {
    background-image: url("../images/preciseSliderThumb.gif");
}

.phprojekt .dijitSliderLeftBumper {
    border-left-width: 1px;
    border-color: #aab0bb;
    background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}

.phprojekt .dijitSliderRightBumper {
    background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
    border-color: #b4b4b4;
    border-right-width: 1px;
}

.phprojekt .dijitSliderImageHandleV {
    border: 0px;
    width: 20px;
    height: 15px;
    background: url("../images/sliderThumb.png") no-repeat center center;
    cursor: pointer;
}

.phprojekt .dijitSliderFocused .dijitSliderImageHandleV {
    background-image: url("../images/sliderThumbFocus.png");
}

.phprojekt .dijitSliderBottomBumper {
    border-bottom-width: 1px;
    border-color: #aab0bb;
    background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}

.phprojekt .dijitSliderTopBumper {
    background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y top left;
    border-color: #b4b4b4;
    border-top-width: 1px;
}

.phprojekt .dijitSliderIncrementIconH,
.phprojekt .dijitSliderIncrementIconV {
    background: url('../images/spriteRoundedIconsSmall.png') no-repeat -45px top;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.phprojekt .dijitSliderIncrementIconH {
    background: url('../images/spriteRoundedIconsSmall.png') no-repeat -30px top;
}

.phprojekt .dijitSliderDecrementIconH,
.phprojekt .dijitSliderDecrementIconV {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: url('../images/spriteRoundedIconsSmall.png') no-repeat -15px top;
}

.phprojekt .dijitSliderDecrementIconH {
    background: url('../images/spriteRoundedIconsSmall.png') no-repeat 0px top;
}

.phprojekt .dijitSliderButtonInner {
    visibility: hidden;
}

.phprojekt .dijitSliderDisabled {
    opacity: 0.6 !important;
}

.dj_ie6 .phprojekt .dijitSliderDisabled,
.dj_ie6 .phprojekt .dijitSliderDisabled .dijitRuleContainer,
.dj_ie6 .phprojekt .dijitSliderDisabled .dijitSliderRemainingBar,
.dj_ie6 .phprojekt .dijitSliderDisabled .dijitSliderProgressBar {
    filter: gray() alpha(opacity=40);
}

.phprojekt .dijitSlider td {
    padding: 0 !important;
}
