<phpunit
    bootstrap="Bootstrap.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true">

    <testsuites>
        <testsuite name="Phprojekt Test Suite">
            <directory>.</directory>

            <exclude>Note</exclude>
            <exclude>Helpdesk</exclude>
            <exclude>History</exclude>
            <exclude>Module</exclude>
            <exclude>Minutes</exclude>
            <exclude>Selenium</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../../application</directory>
            <directory>../../library/Phprojekt</directory>
            <file>../../library/Phprojekt.php</file>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="../coverage" charset="UTF-8" yui="true" highlight="true"/>
    </logging>
</phpunit>
