/* Menu */

.phprojekt .dijitMenu {
    border: 1px solid #cbcbcb;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}

.phprojekt .dijitMenuItem {
    background-color: #fff;
    font-family: sans-serif;
    margin: 0px;
    color: #243C5F;
}

.phprojekt .dijitMenuPreviousButton, .phprojekt .dijitMenuNextButton {
    font-style: italic;
}

.phprojekt .dijitMenuItem td {
    padding: 1px;
}

.phprojekt .dijitMenuItemHover {
    background-color: #d9e6f9;
    color: #243C5F;
}

.phprojekt .dijitMenuItemIcon {
    width: 15px;
    height: 15px;
}

.phprojekt .dijitMenuExpand {
    width: 15px;
    height: 15px;
    background-image: url('images/spriteRoundedIconsSmall.png');
    background-repeat: no-repeat;
    background-position: -30px top;
    display: block;
}

.dj_ie6 .phprojekt .dijitMenuExpand {
    background-image: url('images/spriteRoundedIconsSmall.gif');
}

.phprojekt .dijitMenuSeparator {
    background-color: #fff;
    height: 1px;
}

/* separator can be two pixels -- set border of either one to 0px to have only one */
.phprojekt .dijitMenuSeparatorTop {
    border-bottom: 1px solid #fff;
}

.phprojekt .dijitMenuSeparatorBottom {
    border-top: 1px solid #8ba0bd;
}

/* the checked menu item */
.phprojekt .dijitCheckedMenuItemIconChar {
    display: none;
}

.phprojekt .dijitCheckedMenuItemIcon {
    background-image: url('images/spriteCheckBox.gif');
    background-position: -16px;
}

.phprojekt .dijitCheckedMenuItemIconChecked {
    background-position: 0px;
}

.phprojekt .dijitMenuItemHover .dijitCheckedMenuItemIcon {
    background-position: -80px;
}

.phprojekt .dijitMenuItemHover .dijitCheckedMenuItemIconChecked {
    background-position: -64px;
}
