/* Tree */

.phprojekt .dijitTreeNode {
    background-color: #F8F8F8;
}

/* left vertical line (grid) for all nodes */
.phprojekt .dijitTreeIsLast {
}

.phprojekt .dijitTreeLabel {
    margin-left: 0px;
}

.phprojekt .dijitTreeIsRoot {
    color: #fff;
    background-color: #F8F8F8;
    border-bottom: 4px #F8F8F8 solid;
    text-transform: uppercase;
    margin-left: 0px;
}

.phprojekt .dijitTreeNode .dijitTreeIsRoot .dijitTreeContent {
    color: #fff;
    background-color: #F1CE47;
    margin-left: 0px;
}

.phprojekt .dijitTreeExpando {
    width: 18px;
    height: 18px;
    margin-left: 0px;
    cursor: pointer;
}

/**** Level 1 ****/
.phprojekt .dijitTreeNode .dijitTreeExpando {
    margin-left: 0px;
    background-color: #F1CE47;
}

.phprojekt .dijitTreeNode .dijitTreeRow {
    background-color: #F1CE47;
    height: 20px;
}

.phprojek .dijitTreeNode .dijitTreeNodeHover {
    color: #4b4b4b;
}

.phprojekt .dijitTreeNode .dijitTreeContent {
    margin-left: 0px;
    min-height: 18px;
    min-width: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #F1CE47;
    border-bottom: 3px #F1CE47 solid;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

/**** Level 2 ****/
.phprojekt .dijitTreeNode .dijitTreeNode .dijitTreeExpando  {
    margin-left: 0px;
    background-color: #F1CE47;
}

.phprojekt .dijitTreeNode .dijitTreeNode .dijitTreeRow {
    background-color: #F1CE47;
}

.phprojekt .dijitTreeNode .dijitTreeNode .dijitTreeNodeHover {
    color: #4b4b4b;
}

.phprojekt .dijitTreeNode .dijitTreeNode .dijitTreeContent {
    margin-left: 0px;
    min-height: 18px;
    min-width: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #F1CE47;
    border-bottom: 3px #F1CE47 solid;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

/**** Level 3 ****/
.phprojekt .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeExpando {
    margin-left: 12px;
    background-color: #F8F8F8;
}

.phprojekt .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeRow {
    background-color: #F8F8F8;
}

.phprojekt .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeNodeHover {
    color: #4b4b4b;
}

.phprojekt .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeContent {
    min-height: 18px;
    min-width: 18px;
    color: #000;
    font-weight: normal;
    background-color: #F8F8F8;
    border-bottom: 3px #f3f3f3 solid;
    text-transform: none;
    text-decoration: none;
    margin-left: 0px;
}

/**** Level 4 ****/
.phprojekt .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeExpando {
    margin-left: 24px;
    background-color: #F8F8F8;
}

.phprojekt .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeRow {
    background-color: #F8F8F8;
}

.phprojekt .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeNodeHover {
    color: #4b4b4b;
}

.phprojekt .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeContent {
    min-height: 18px;
    min-width: 18px;
    color: #000;
    font-weight: normal;
    background-color: #F8F8F8;
    border-bottom: 3px #f3f3f3 solid;
    text-transform: none;
    text-decoration: none;
    margin-left: 0px;
}

/**** Level 5 ****/
.phprojekt .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeExpando {
    margin-left: 36px;
    background-color: #F8F8F8;
}

.phprojekt .dijitTreeNode .dijitTreeNode .dijitTreeNode.dijitTreeNode .dijitTreeNode  .dijitTreeRow {
    background-color: #F8F8F8;
}

.phprojekt .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeNodeHover {
    color: #4b4b4b;
}

.phprojekt .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeNode .dijitTreeContent {
    min-height: 18px;
    min-width: 18px;
    color: #000;
    font-weight: normal;
    background-color: #F8F8F8;
    border-bottom: 3px #f3f3f3 solid;
    text-transform: none;
    text-decoration: none;
    margin-left: 0px;
}

/* same style as IE selection */
.phprojekt .dijitTreeNode .dijitTreeNodeEmphasized {
    background-color: Highlight;
    color: HighlightText;
}

/* don't use :focus due to opera and IE's lack of support on div's */
.phprojekt .dijitTreeNode .dijitTreeLabelFocused {
    outline: 1px invert dotted;
    background: #dde7f2;
    color: #fff;
}

/* don't use :focus due to opera and IE's lack of support on div's */
.phprojekt .dijitTreeNode .dijitTreeContentFocused {
    outline: 1px dotted;
    background-color: #8392AB;
    color: #fff;
}

.phprojekt .dijitTreeExpandoOpened {
    background: url('images/spriteTree.gif') no-repeat -18px top;
}

.phprojekt .dijitTreeExpandoClosed {
    background-image: url('images/spriteTree.gif');
}

.phprojekt .dijitTreeExpandoLeaf {
    background: url('images/spriteTree.gif') no-repeat -36px top;
}

.phprojekt .dijitTreeExpandoLoading {
    background-image: url('images/treeExpand_loading.gif');
}

.phprojekt .dijitTreeIcon {
    width: 5px;
}

/**** Genereal styles ****/
.phprojekt .dijitTreeExpand {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
}

.phprojekt .dijitTreeExpandoOpened {
    background: url('images/group-list.png') no-repeat center;
    background-position: 7px center;
}

.phprojekt .dijitTreeExpandoClosed {
    background: url('images/group-list2.png')no-repeat center;
    background-position: 7px center;
}

.phprojekt .dijitLeaf {
}
