<tr>
    <td class="label">
        <label for="{{labelfor}}">{{label}}</label>
    </td>
    <td>
        <select
        id="{{id}}[]"
        name="{{id}}[]"
        dojoType="dijit.form.MultiSelect"
        required="{{required}}"
        {{disabled}}
        autocomplete="true"
        value="{{value}}"
        searchAttr="name"
        invalidMessage=""
        multiple="{{multiple}}"
        size="{{size}}" >
        {% for item in options %}
        <option value ="{{item.id}}" {{item.selected}}>{{item.name}}</option>
        {% endfor %}
        </select>
    </td>
</tr>