<div>
    <h2 class="formHeadline">{{headline}}</h2>
    <hr>
    <form dojoType="dijit.form.Form">
        <table class="form">
            <col class="col1" />
            <col class="col2" />
            <tbody>
                <tr>
                    <td class="label">
                        <label>
                            {{normalLabel}}
                        </label>
                    </td>
                    <td>
                        <a href="{{normalUrl}}">{{normalUrl}}</a>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label>
                            {{iosLabel}}
                        </label>
                    </td>
                    <td>
                        <a href="{{iosUrl}}">{{iosUrl}}</a>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label>
                            {{noticeLabel}}
                        </label>
                    </td>
                    <td>
                        {{notice}}
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
