<!-- Events inside the schedule chart -->
<div id="calendarSchedule">
    <table width="{{widthTable}}%" id="scheduleBackground">
    <tr>
        <td width="{{widthHourColumn}}%"></td>
        {% for user in header.users %}
        <td width="{{header.columnsWidth}}%" class="hours">{{user.display}}</td>
        {% endfor %}
    </tr>
    {% for row in schedule %}
    <tr>
        <td class="hours">{{row.hour}}</td>
        {% for user in row %}
            {% ifequal row.even true %}
        <td class="emptyCellEven">
        </td>
            {% else %}
        <td class="emptyCellOdd">
        </td>
            {% endifequal %}
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
</div>
<div id="eventsArea" style="float: left; position: absolute;">
    {% for event in events %}
    <div id="{{eventsAttr.divIdPre}}{{event.order}}" class="eventsDivMain"
    style="position: absolute; overflow: hidden;
        {% ifequal event.shown true %}
        visibility: visible;
        {% else %}
        visibility: hidden;
        {% endifequal %}
        ">
        <div id="plainDiv{{event.order}}" class="eventsDivSecond"
        style="border-width: {{eventsAttr.borderWidth}}px;
        {% ifequal event.editable true %}
        cursor: pointer;
        {% endifequal %}
        "></div>
        {% ifequal event.editable true %}
        <div dojoType="phpr.Calendar2.ResizeHandle" resizeAxis="y" activeResize="true" targetId="plainDiv{{event.order}}"
        id="eventResize{{event.order}}"
        style="bottom: 0; width: 100%; position: absolute;"></div>
        {% endifequal %}
    </div>
    {% endfor %}
</div>
