<div>
    <div dojoType="dijit.layout.BorderContainer" design="sidebar" dojoAttachPoint="calendarMain" class="calendarMain"
        persist="true" style="width: 100%; height: 100%;" gutters="false">
        <div dojoType="dijit.layout.ContentPane" dojoAttachPoint="gridContainer" region="center" class="prepend-0 append-0">
        </div>
    </div>
    <div dojoType="dijit.Dialog" dojoAttachPoint="selectorDialog" class="selectorDialog" title="" draggable="false"
        style="background-color: white; width: auto; height: auto; text-align: center;">
        <h2 dojoAttachPoint="selectorTitle" dojoType="dijit.layout.ContentPane" class="selectorTitle"></h2>
        <div dojoType="dijit.layout.ContentPane" dojoAttachPoint="selectorContainer" class="selectorContainer"
            style="width: 330px; height: 310px; border: 2px solid #294064; padding-left: 7px;">
        </div>
    </div>
    <div dojoType="dijit.Dialog" dojoAttachPoint="eventSelectorDialog" class="eventSelectorDialog" title="" draggable="false"
        style="background-color: white; width: auto; height: auto;">
        <h2 dojoAttachPoint="eventSelectorTitle" class="eventSelectorTitle" style="text-align:center"></h2>
        <div dojoType="dijit.layout.ContentPane" dojoAttachPoint="eventSelectorContainer" class="eventSelectorContainer"
            style="border: 2px solid #294064; padding: 7px;">
        </div>
    </div>
</div>
