<!-- Events inside the schedule chart -->
<div style="height: 100%" id="calendarSchedule">
    <table style="height: 100%" width="{{widthTable}}%">
        <thead>
            <tr>
                {% for day in header.days %}
                <th width="{{header.columnsWidth}}%" class="weekDayHeaders">{{day}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody style="height:100%">
            {% for row in schedule %}
            <tr>
                {% for day in row %}
                <td class="monthEvents" style="height: 80px; background-color:{{day.color}};">
                    <a href="javascript: dojo.publish('Calendar2.anotherViewDayClick', ['{{day.date}}']);">{{day.day}}</a>
                    <button dojoType="dijit.form.Button" showLabel="false" iconClass="add" class="addButton"
                        onClick="dojo.publish('Calendar2.openForm', [0, 0, '{{day.date}}']);">
                    </button>
                    <br />
                    {% for event in day.events %}
                    {{event.time|safe}}
                    <a href="javascript: dojo.publish('Calendar2.openForm', [{{event.id}}, 0, 0, 0, '{{event.occurrence}}']);">
                        {{event.summary|safe}}
                    </a> {{event.warning|safe}}
                    <br />
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
