<tr>
    <td colspan="3">
    <table id="participantTable"
    style="position: relative; left: 75px">
    <tr>
        <td>
            <label>{{participantUserText}}</label>
        </td>
        <td>
            <label>{{participantActionText}}</label>
        </td>
    </tr>
    <tr>
        <td>
            <select id="dataParticipantAdd" name="dataParticipantAdd" dojoType="phpr.FilteringSelect"
            required="false" autocomplete="false" value="" invalidMessage="" >
                {% for user in users %}
                <option value="{{user.id}}" >{{user.name}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <div id="participantAddButton">
            </div>
        </td>
    </tr>
    {% for item in participants %}
    <tr id="trParticipantFor{{item.userId}}"
    {% ifequal currentUser item.userId %}
        style="display: none;"
        {% endifequal %}
    >
        <td>
            <input id="dataParticipant[{{item.userId}}]" id="dataParticipant[{{item.userId}}]"
            name="dataParticipant[{{item.userId}}]" type="hidden" value="{{item.userId}}"
            dojoType="dijit.form.TextBox" />
            {{item.userName}}
        </td>
        <td>
            <div id="participantDeleteButton{{item.userId}}">
            </div>
        </td>
    </tr>
    {% endfor %}
    </table>
    </td>
</tr>
