<div>
    <table>
        <tr>
            <td>
                &nbsp;
                <a href="javascript: dojo.publish('Calendar2.setDate', [0]);">&lt;&lt;</a>&nbsp;
                <a href="javascript: dojo.publish('Calendar2.setDate', [1]);">{{today}}</a>&nbsp;
                <a href="javascript: dojo.publish('Calendar2.setDate', [2]);">&gt;&gt;</a>
            </td>
            <td style="width: 20px;"></td>
            <td>
                <div id="scheduleBarDate" dojoType="dijit.layout.ContentPane"
                style="font-weight: bold;">&nbsp;{{date}}&nbsp;</div>
            </td>
        </tr>
    </table>
</div>
