<div>
    <table
        style="width: 100%; text-align: center;">
        <tr>
            <td class="label" dojoAttachPoint="label" dojoType="dijit.layout.ContentPane"></td>
        </tr>
        <tr>
            <td
                style="text-align: center;"
                dojoAttachPoint="selector"
                dojoType="dijit.layout.ContentPane">
            </td>
        </tr>
        <tr>
            <td>
                <div dojoAttachPoint="selection" dojoType="dijit.layout.ContentPane"
                    style="margin-top: 20px; display: inline">
                </div>
            </td>
        </tr>
        <tr
            style="height: 27px;">
            <td class="label" dojoAttachPoint="error"
                dojoType="dijit.layout.ContentPane"
                style="visibility: hidden;">
            </td>
        </tr>
        <tr>
            <td
            style="text-align: center;">
                <button dojoAttachPoint="doneButton" dojoType="dijit.form.Button">
                </button>
            </td>
        </tr>
    </table>
</div>
