<div id="calendarGroupSelection">
    <table
    style="width: 100%; text-align: center;">
    <tr>
        <td class="label" id="instructions"><br />{{label}}:<br /><br /></td>
    </tr>
    <tr>
        <td
            style="text-align: center;"
            id="userList"
            dojoType="dijit.layout.ContentPane">
        </td>
    </tr>
    <tr>
        <td>
            <div id="usersSelectorSelections" dojoType="dijit.layout.ContentPane" style="margin-top: 20px;">
            </div>
        </td>
    </tr>
    <tr
    style="height: 27px;">
        <td class="label" id="usersSelectorError"
        style="visibility: hidden;">
            {{noUsersSelected}}
        </td>
    </tr>
    <tr>
        <td
        style="text-align: center;">
            <button dojoType="dijit.form.Button" onClick="dojo.publish('Calendar2.usersSelectionDoneClick');">
                {{done}}
            </button>
        </td>
    </tr>
    </table>
</div>
