<tr>
    <td class="label">
        <label for="minutesMailFormAdditionalRecipients">{{lblAdditional}}</label>
    </td>
    <td>
        <input type="text" id="minutesMailFormAdditionalRecipients" name="additional"
            dojoType="dijit.form.ValidationTextBox" required="false" value="" invalidMessage="" trim="true" />
    </td>
    <td>
        <button dojoType="dijit.form.DropDownButton" showLabel="false" baseClass="smallIcon" iconClass="help">
            <div dojoType="dijit.TooltipDialog">
                <div style="white-space: nowrap;">
                    {{lblTooltip}}
                </div>
            </div>
        </button>
    </td>
</tr>
