<div id="minutesConfirmDialogContainer" dojoType="dijit.layout.ContentPane" region="center">
	<div id="minutesConfirmDialogContent" dojoType="dijit.layout.ContentPane" region="center">
	    <p>{{message}}</p>
	</div>
	{% if displayButtons %}
	<div id="minutesConfirmDialogButtons" dojoType="dijit.layout.ContentPane" region="bottom" gutter="yes">
		<button style="float: left;"  id="minutesConfirmDialogButtonOK" dojoType="dijit.form.Button" baseClass="positive" iconClass="tick">{{labelOK}}</button>
		<button style="float: right;" id="minutesConfirmDialogButtonCancel" dojoType="dijit.form.Button" baseClass="negative" iconClass="cross">{{labelCancel}}</button>
	</div>
	{% endif %}
</div>