<div>
    <tr>
        <td class="label">
            <input type="hidden" name="id" value="{{id}}" />
            <label for="minutesMailFormRecipients">{{lblRecipients}}</label>
        </td>
        <td>
            <select dojoType="dojox.form.CheckedMultiSelect" id="minutesMailFormRecipients" name="recipients[]"
                multiple="true">
                {% for recipient in people %}
                <option value="{{recipient.id}}">
                {{recipient.display}}
                </option>
                {% endfor %}
            </select>
        </td>
        <td>
            <!-- Tooltip -->
        </td>
    </tr>
    <tr>
        <td class="label">
            <label for="minutesMailFormAdditionalRecipients">{{lblAdditional}}</label>
        </td>
        <td>
            <input type="text" id="minutesMailFormAdditionalRecipients" name="additional"
            dojoType="dijit.form.ValidationTextBox" required="false" value="" invalidMessage="" trim="true" />
        </td>
        <td>
            <button dojoType="dijit.form.DropDownButton" showLabel="false" baseClass="smallIcon" iconClass="help">
                <div dojoType="dijit.TooltipDialog">
                    <div
                        style="white-space: nowrap;">
                        {{lblTooltip}}
                    </div>
                </div>
            </button>
        </td>
    </tr>
    <tr>
        <td class="label">
            <label>{{lblOptions}}</label>
        </td>
        <td>
            <input id="minutesMailFormOptionPdf" name="options[]" dojoType="phpr.Default.System.Form.CheckBox"
            type="checkbox" value="pdf"  />
            <label for="minutesMailFormOptionPdf"
                style="color:black; font-weight:normal; text-transform:none;">
                {{lblAttachPdf}}
            </label>
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td class="label">
            &nbsp;
        </td>
        <td>
            <button dojoType="dijit.form.Button" id="minutesMailFormSend"
                style="float: left">
                {{lblSendMail}}
            </button>
            <button dojoType="dijit.form.Button" id="minutesMailFormPreview"
                style="float: left">
                {{lblPreview}}
            </button>
        </td>
        <td>
            <!-- Tooltip -->
        </td>
    </tr>
