<form id="minutesItemForm" action="javascript:;" dojoType="dijit.form.Form" class="form">
    <input type="hidden" name="id" value="{{id}}" />
    <input type="hidden" name="minutesId" value="{{minutesId}}" />
    <input type="hidden" name="projectId" value="{{projectId}}" />
    <input type="hidden" name="topicId" value="{{topicId}}" />
    <input type="hidden" name="sortOrder" value="{{sortOrder}}" />
    <!-- ownerId is handled internally by the backend -->
    
    <table id="minutesItemFormTable">
    <tr>
        <td class="label">
            <label for="minutesItemFormTitle">{{lblTitle}} (*)</label>
        </td>
        <td>
            <input type="text" id="minutesItemFormTitle" name="title" dojoType="dijit.form.TextBox"
                    required="true" value="{{title}}" invalidMessage="" />
        </td>
        <td><!-- Tooltip --></td>
    </tr>
    
    <tr>
        <td class="label">
            <label>{{lblTopicType}} (*)</label>
        </td>
        <td>
            <select id="minutesItemFormTopicType" name="topicType" dojoType="dijit.form.FilteringSelect"
                    required="true" autocomplete="true" value="{{topicType}}" invalidMessage="" >
                <option value=""></option>
                {% for type in types %}
                <option value="{{type.id}}">
                  {{type.name}}
                </option>
                <!-- {% ifequal topicType type.id %}selected="selected"{% endifequal %} -->
                {% endfor %}
            </select>
        </td>
        <td><!-- Tooltip --></td>
    </tr>
    
    <tr>
        <td class="label">
            <label>{{lblComment}}</label>
        </td>
        <td>
            <textarea id="minutesItemFormComment" name="comment" dojoType="dijit.form.Textarea"
                   value="{{comment}}" invalidMessage="" style="width: 300px"></textarea>
        </td>
        <td><!-- Tooltip --></td>
    </tr>
    
    <tr>
        <td class="label">
            <label>{{lblUserId}}</label>
        </td>
        <td>
            <select id="minutesItemFormUserId" name="userId" dojoType="dijit.form.FilteringSelect"
                    required="true" autocomplete="true" value="{{userId}}" invalidMessage="" >
                <option value=""></option>
                {% for user in users %}
                <option value="{{user.id}}">
                  {{user.username}}
                </option>
                <!-- {% ifequal ownerId user.id %}selected="selected"{% endifequal %} -->
                {% endfor %}
            </select>
        </td>
        <td><!-- Tooltip --></td>
    </tr>
    
    <tr>
        <td class="label">
            <label>{{lblTopicDate}}</label>
        </td>
        <td>
            <input id="topicDate" name="topicDate" type="text" dojoType="dijit.form.DateTextBox"
                   constraints="{datePattern: 'yyyy-MM-dd', strict: true}" value="{{topicDate}}" />
        </td>
        <td><!-- Tooltip --></td>
    </tr>
    
    <tr>
        <td class="label">
            &nbsp;
        </td>
        <td>
            <button dojoType="dijit.form.Button" id="minutesItemFormSubmit">{{lblSubmit}}</button>
            &nbsp;
            <button dojoType="dijit.form.Button" id="minutesItemFormDelete">{{lblDelete}}</button>
        </td>
        <td><!-- Tooltip --></td>
    </tr>
    </table>
</form>