<form id="minutesItemForm" action="javascript:;" dojoType="dijit.form.Form" class="form">
    <input type="hidden" name="id" value="{{id}}" />
    <input type="hidden" name="minutesId" value="{{minutesId}}" />
    <input type="hidden" name="projectId" value="{{projectId}}" />
    <input type="hidden" name="topicId" value="{{topicId}}" />
    <input type="hidden" name="sortOrder" value="{{sortOrder}}" />
    <!-- ownerId is handled internally by the backend -->
    
    <table id="minutesItemFormTable">
    <tr>
        <td class="label">
            <label for="minutesItemFormTitle">{{lblTitle}} (*)</label>
        </td>
        <td>
            <input type="text" id="minutesItemFormTitle" name="title" dojoType="dijit.form.ValidationTextBox"
                    required="true" value="{{title}}" invalidMessage="Title must not be empty" trim="true" />
        </td>
        <td><!-- Tooltip --></td>
    </tr>
    
    <tr>
        <td class="label">
            <label>{{lblTopicType}} (*)</label>
        </td>
        <td>
            <select id="minutesItemFormTopicType" name="topicType" dojoType="dijit.form.FilteringSelect"
                    required="true" autocomplete="true" value="{{topicType}}" invalidMessage="Please choose a type for this item" >
                {% for type in types %}
                <option value="{{type.id}}">
                  {{type.name}}
                </option>
                <!-- {% ifequal topicType type.id %}selected="selected"{% endifequal %} -->
                {% endfor %}
            </select>
        </td>
        <td><!-- Tooltip --></td>
    </tr>
    
    <tr>
        <td class="label">
            <label>{{lblComment}}</label>
        </td>
        <td>
            <textarea id="minutesItemFormComment" name="comment" dojoType="dijit.form.Textarea"
                   value="{{comment}}" style="width: 300px"></textarea>
        </td>
        <td><!-- Tooltip --></td>
    </tr>
    
    <tr id="minutesItemFormRowUser" style="visibility: collapse">
        <td class="label">
            <label>{{lblUserId}}</label>
        </td>
        <td>
            <select id="minutesItemFormUserId" name="userId" dojoType="dijit.form.FilteringSelect"
                    required="true" autocomplete="true" value="{{userId}}" invalidMessage="Please choose a user name" >
                <option value=""></option>
                {% for user in users %}
                <option value="{{user.id}}">
                  {{user.username}}
                </option>
                <!-- {% ifequal ownerId user.id %}selected="selected"{% endifequal %} -->
                {% endfor %}
            </select>
        </td>
        <td><!-- Tooltip --></td>
    </tr>
    
    <tr id="minutesItemFormRowDate" style="visibility: collapse">
        <td class="label">
            <label>{{lblTopicDate}}</label>
        </td>
        <td>
            <input id="topicDate" name="topicDate" type="text" dojoType="dijit.form.DateTextBox"
                   constraints="{datePattern: 'yyyy-MM-dd', strict: true}" value="{{topicDate}}" 
                   invalidMessage="No date given or date format is not valid (must be YYYY-MM-DD)" />
        </td>
        <td><!-- Tooltip --></td>
    </tr>
    
    <tr>
        <td class="label">
            <label>{{lblParentOrder}}</label>
        </td>
        <td>
            <select id="minutesItemFormParentOrder" name="parentOrder" dojoType="dijit.form.FilteringSelect"
                    required="false" autocomplete="true" value="{{parentOrder}}">
                <option value=""></option>
                {% for item in items %}
                <option value="{{item.sortOrder}}">
                  {{item.title}}
                </option>
                {% endfor %}
            </select>
        </td>
        <td><!-- Tooltip --></td>
    </tr>
    
    <tr>
        <td class="label">
            &nbsp;
        </td>
        <td>
            <button dojoType="dijit.form.Button" id="minutesItemFormSubmit" disabled="true" style="float: left">{{lblSubmit}}</button>
            <button dojoType="dijit.form.Button" id="minutesItemFormDelete" style="float: left">{{lblDelete}}</button>
            <button dojoType="dijit.form.Button" id="minutesItemFormClear" style="float: right">{{lblClear}}</button>
        </td>
        <td><!-- Tooltip --></td>
    </tr>
    </table>
</form>