{% for data in dataForRender %}
<ul class="sub_project" id="lbl_{{data.name}}"
 style="height: 24px; display: {{data.display}};">
    <li class="title">
        <div
        style="width: 100%; left: 0px; top: 0px;">
            <div
            style="display: inline"><img src="img/spacer.gif" height="1" width="{{data.level}}" /></div>
            <div class="expander"
            style="display: inline; width: 15px"></div>
            <div
            style="display: inline;">
                <a href="javascript: void 0"
                style="text-decoration: none;"><strong>{{data.caption}}</strong></a>
            </div>
        </div>
    </li>
    <li class="separator">&nbsp;</li>
    <li class="slider">
        <div id="{{data.name}}" secondary="33" name="{{data.name}}" dojotype="phpr.Gantt.Form.HorizontalRangeSlider"
        clickSelect="false" minimum="1" maximum="{{STEPPING}}" value="{{data.value}}"
        discreteValues="{{STEPPING}}" showbuttons="false"
        onchange="dijit.byId('ganttObject').container.processUpdate(arguments[0], '{{data.name}}');"
        {{data.disabled}}
        style="margin-top: 0px; width: {{width}}px;"></div>
    </li>
    <br clear="all" />
</ul>
{% endfor %}
<div dojoType="dijit.layout.ContentPane" id="bottomContent">
</div>
<div dojoType="dijit.layout.ContentPane" id="ganttObject">
</div>
