<div id="defaultMainContent-Gantt"
 style="background-color: white; width: 98%; height: 95%; margin: 10px;">
    <div id="container-Gantt"
    style="background-color: #ffffff; border: solid #ffffff; display: block; position: relative; width: 100%;">
        <div id="selectDates-Gantt"
        style="display: none; margin-left: 10px;">
            <table class="formContainer">
            <tr>
                <td
                style="width: 10px;">
                    &nbsp;
                </td>
                <td>
                    <fieldset
                    style="border: 1px solid; padding: 5px; width: 500px;">
                    <legend>{{selectedProjectTimelineText}}:</legend>
                    <div id='TgtMin-Gantt'></div><div id='TgtMax-Gantt'></div>
                    <button dojoType="dijit.form.Button" baseClass="positive smallIcon" type="button" iconClass="tick"
                    onclick="dojo.style('selectDates-Gantt', 'display', 'none');">
                    </button>
                    &nbsp;&nbsp;
                    <button dojoType="dijit.form.DropDownButton" showLabel="false" baseClass="smallIcon"
                    iconClass="help">
                        <div dojoType="dijit.TooltipDialog">
                            <div
                            style="white-space: nowrap;">
                            {{projectPeriodHelp}}
                            </div>
                        </div>
                    </button>
                    </fieldset>
                </td>
            </tr>
            </table>
        </div>
        <div class="ganttcontent"
        style="width: 100%;">
            <div id="timeLine-Gantt"
            style="position: relative; top: -55px; margin-top: 0px; left: 0px; height: 100px;">
            </div>
            <div dojoType="dijit.layout.ContentPane" id="timelineDates-Gantt" class="timeline"
            style="width: 100%;">
            </div>
            <div id="projectList-Gantt" class="project_list"
            style="width: 100%;">
            </div>
        </div>
        <div dojoType="dijit.layout.ContentPane" id="bottomContent-Gantt" class="bottomContent"
        style="position: absolute; top: 100px; display: none;">
            <button dojoType="dijit.form.Button" baseClass="positive" id="submitButton-Gantt" type="submit"
            iconClass="tick">
                {{saveText}}
            </button>
        </div>
    </div>
    <div id="emptyResults-Gantt"
    style="display: none;"></div>
</div>
