/* Calendar*/

.phprojekt .dijitCalendarIncrementControl {
    /* next/prev month buttons */
    width: 15px;
    height: 15px;
    background-image: url("images/spriteRoundedIconsSmall.png");
    background-repeat: no-repeat;
}

.dj_ie6 .phprojekt .dijitCalendarIncrementControl {
    padding: .1em;
    font-size: .1em;
    background-image: url("images/spriteRoundedIconsSmall.gif");
}

.phprojekt .dijitCalendarIncreaseInner,
.phprojekt .dijitCalendarDecreaseInner {
    visibility: hidden;
}

.phprojekt .dijitCalendarDecrease {
    background-position: top left;
}

.phprojekt .dijitCalendarIncrease {
    background-position: -30px top;
}

.phprojekt table.dijitCalendarContainer {
    font-size: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid #b1badf;
    margin: 0;
}

.phprojekt .dijitCalendarMonthContainer th {
    /* month header cell */
    background: #bed7f0 url("images/titleBar.png") repeat-x top;
    padding-top: .3em;
    padding-bottom: .2em;
    text-align: center;
}

.dj_ie6 .phprojekt .dijitCalendarMonthContainer th {
    padding-top: .1em;
    padding-bottom: 0em;
}

.phprojekt .dijitCalendarDayLabelTemplate {
    /* day of week labels */
    background: #bed7f0;
    font-weight: normal;
    padding-top: .15em;
    padding-bottom: .2em;
    border-bottom: 1px solid #b1badf;
    color: #293a4b;
    text-align: center;
}

.phprojekt .dijitCalendarBodyContainer {
    border-bottom: 1px solid #eeeeee;
}

.phprojekt .dijitCalendarMonthLabel {
    color: #293a4b;
    font-weight: bold;
}

.dj_ie7 .phprojekt .dijitCalendarDateTemplate,
.dj_ie6 .phprojekt .dijitCalendarDateTemplate {
    font-size: 0.8em;
}

.phprojekt .dijitCalendarDateTemplate {
    /* style for each day cell */
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    padding: 0.3em 0.3em 0.1em 0.3em;
    letter-spacing: 1px;
    background-color: #fff;
    border: #fff solid 1px !important;
}


.phprojekt .dijitCalendarPreviousMonth,
.phprojekt .dijitCalendarNextMonth {
    /* days that are part of the previous or next month */
    color: #999999;
    background-color: #fdfdfd !important;
    border: #fdfdfd solid 1px !important;
}

.phprojekt .dijitCalendarPreviousMonthDisabled,
.phprojekt .dijitCalendarNextMonthDisabled {
    /* days that are part of the previous or next month - disabled*/
    background-color: #a4a5a6 !important;
}

.phprojekt .dijitCalendarCurrentMonth {
    /* days that are part of this month */
}

.phprojekt .dijitCalendarCurrentMonthDisabled {
    /* days that are part of this month - disabled */
    background-color: #bbbbbc !important;
}

.phprojekt .dijitCalendarDisabledDate {
    /* one or the other? */
    text-decoration: line-through !important;
    cursor: default !important;
}

.phprojekt .dijitCalendarCurrentDate {
    /* cell for today's date */
    text-decoration: underline;
    font-weight: bold;
}

.phprojekt .dijitCalendarSelectedDate {
    /* cell for the selected date */
    background-color: #b9cbf1 !important;
    color: black !important;
    border: #4b5aaa solid 1px !important;
}

.phprojekt .dijitCalendarYearContainer {
    /* footer of the table that contains the year display/selector */
    background: white url("images/titleBar.png") repeat-x top;
}

.phprojekt .dijitCalendarYearLabel {
    /* container for all of 3 year labels */
    margin: 0;
    padding: 0.4em 0 0.25em 0;
    text-align: center;
}

.phprojekt .dijitCalendarSelectedYear {
    /* label for selected year */
    color: black;
    padding: 0.2em;
    padding-bottom: 0.1em;
    background-color: #b9cbf1 !important;
    border: #4b5aaa solid 1px !important;
}

.phprojekt .dijitCalendarNextYear,
.phprojekt .dijitCalendarPreviousYear {
    /* label for next/prev years */
    color: black !important;
    font-weight: normal;
}

.phprojekt .calendarSchedule .hours {
    border: 1px solid;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    background-color: #d4dfea;
    font-size: 10px;
    border-color: black;
}

.phprojekt .calendarSchedule .weekDayHeaders {
    border: 1px solid black;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    background-color: #d4dfea;
    font-size: 10px;
}

.phprojekt .eventsArea .eventsDivSecond {
    border: solid #263349;
    background-color: linen;
    border-bottom-style: double;
}

.phprojekt .calendarSchedule .monthEvents {
    border: 1px solid;
    height:80px;
    vertical-align:top;
    padding: 4;
    border-color: black;
}

.phprojekt .calendarSchedule .fixedEvents {
    border: 1px solid;
    padding: 4;
    vertical-align: middle;
    background-color: #DDDDDD;
    border-color: black;
}

.phprojekt .calendarSchedule .fixedEmptyCellSingle {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.phprojekt .calendarSchedule .fixedEmptyCellLeft {
    border-left: 1px solid black;
}

.phprojekt .calendarSchedule .fixedEmptyCellRight {
    border-right: 1px solid black;
}

.phprojekt .calendarSchedule .fixedEmptyCellBottom {
    border-bottom: 1px solid black;
}

.phprojekt .calendarSchedule .horizontalLine {
    margin:3px;
    border-bottom:1px dashed #203040;
}

.phprojekt .calendarSchedule .emptyCellEven {
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
}

.phprojekt .calendarSchedule .emptyCellOdd {
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #e9f3ff
}

.phprojekt .calendarSchedule  a:link,
.phprojekt .calendarSchedule  a:visited,
.phprojekt #defaultMainContent-Calendar a:link,
.phprojekt #defaultMainContent-Calendar a:visited {
    text-decoration: none;
}

.phprojekt .calendarSchedule  a:hover,
.phprojekt .calendarSchedule  a:active,
.phprojekt #defaultMainContent-Calendar a:hover,
.phprojekt #defaultMainContent-Calendar a:active {
    text-decoration: underline;
}

.phprojekt .calendarSchedule table {
    border-collapse: collapse;
}

.phprojekt .calendarSchedule td {
    padding: 4px 0px 4px 5px;
}
