.phprojekt .dijitMenuItemSelected {
    background-color: #fcfcfc;
    color: #243C5F;
}

.phprojekt .groupHeader {
    border-top: 1px solid #fcfcfc;
    color: #000000;
}

.phprojekt .dijitMenuTable {
    background-color: #f1f1f1;
}
