/* GridWidget */
.phprojekt .timecardGrid {
    background-color: #e9e9e9;
    font-size: 0.85em; /* inherit font-family from dojo.css */
    white-space: nowrap;
}

.phprojekt .timecardGrid thead {
    padding: 0px;
}

.phprojekt .timecardGrid th {
    border-width: 1px;
    padding-bottom: 0px;
    border-color: transparent #aca899 #919191 transparent;
    background: url("images/titleBar.png") #e9e9e9 repeat-x top;
    color: #000 !important;
    font-weight: 400;
    /* shared with td */
    padding: 1px;
    text-align: left;
    border: 1px dotted #d5cdb5;
}

.phprojekt .timecardGrid td {
    /* shared with th */
    padding: 1px;
    text-align: left;
    border: 1px dotted #d5cdb5;

    border-color: #ebeadb;
    border-left-color: transparent;
    border-top-color: transparent;
    background-color: white;
}

.phprojekt .timecardGrid tbody {
    background-color: #FAFAFA;
}

/* List View */

.phprojekt .timecardDayViewEntry {
    width: 100%;
}

.phprojekt .timecardDayViewTHead {
    font-weight: bold;
}

.phprojekt .timecardDayViewTd {
    padding-left: 5px;
}


.phprojekt .timecardDayViewFooter {
    border-top: 1px solid #000000;
}

.phprojekt .timecardDayViewTableBody {
    border-spacing: 5px;
}

/* FormView*/
.phprojekt .dndSource {
    padding-left: 10px;
    color: #000;
    background-color: #ffcc33;
    font-size: 8pt;
    font-weight: bold;
    filter: alpha(opacity=50);
    opacity: .5;
}

.phprojekt .projectBookingForm .col1 {
    width: 20%;
}

.phprojekt .projectBookingForm .col2 {
    width: 65%;
}

.phprojekt .projectBookingForm .col3 {
    width: 5%;
}

.phprojekt .projectBookingForm span .dijitArrowButtonInner {
    display: none;
}

/* Tooltip */
.phprojekt .timecardTooltipDialog {
    width: 460px;
    height: 165px;
}

.phprojekt .timecardTooltipDialog .dijitTooltipContainer {
    background-color: #FFCC33;
    border: 1px solid #294064;
}

.phprojekt .timecardTooltipDialog .dijitTooltipConnector {
    background: url("images/tooltipConnectorLeft_ffcc33.png") no-repeat top left;
}

.dj_ie .phprojekt .timecardTooltipDialog .dijitTooltipConnector {
    background-image: url("images/tooltipConnectorLeft_ffcc33.gif");
}

.phprojekt .hiddenTooltipPoint {
    height: 20px;
    left: 6.5em;
    position: relative;
    top: 0px;
    width: 10px;
}

.dj_ie .phprojekt .hiddenTooltipPoint {
    left: 4em;
}
