/* Module Designer */

#content-ModuleDesigner .container {
    padding: 1em 3em;
    cursor: default;
    radius: 8pt;
    background: #fff;
}

#content-ModuleDesigner .dojoDndContainerOver {
}

#content-ModuleDesigner .dojoDndTargetDisabled {
    background: #eee;
}

#content-ModuleDesigner .dojoDndItem {
    padding: 0 3px;
}

.dj_ff2 #content-ModuleDesigner .dojoDndItem {
    -moz-user-select: none;
}

#content-ModuleDesigner .dojoDndItemOver {
    background: #ededed;
    cursor: pointer;
}

#content-ModuleDesigner .dojoDndItemSelected {
    background: #ededed;
}

#content-ModuleDesigner .dojoDndItemAnchor {
    background: #ededed;
}

#content-ModuleDesigner .dojoDndItemOver .dojoDndItemSelected {
    background: #ededed;
}

#content-ModuleDesigner .dojoDndItemOver .dojoDndItemAnchor {
    background: #ededed;
}

#content-ModuleDesigner .dojoDndItemBefore {
}

#content-ModuleDesigner .dojoDndItemAfter {
}

#content-ModuleDesigner .dojoDndAvatar {
    font-size: 75%;
    radius: 8pt;
}

#content-ModuleDesigner .dojoDndAvatarHeader {
    background: #aaa;
}

#content-ModuleDesigner .dojoDndAvatarItem {
    background: #fff;
}

.phprojekt #content-ModuleDesigner .dijitInputField INPUT,
.phprojekt #content-ModuleDesigner .dijitTextBox {
    width: 209px;
}

.phprojekt #content-ModuleDesigner .twoFields .dijitInputField INPUT,
.phprojekt #content-ModuleDesigner .twoFields .dijitTextBox {
    width: 98px;
}

.dj_ie .phprojekt #content-ModuleDesigner .file {
    width: 220px;
}

.phprojekt #content-ModuleDesigner .dijitMultiSelect,
.phprojekt #content-ModuleDesigner select,
.phprojekt #content-ModuleDesigner .dijitComboBox,
.phprojekt #content-ModuleDesigner .dijitSpinner,
.phprojekt #content-ModuleDesigner .dijitSlider {
    width: 217px;
}

.phprojekt #content-ModuleDesigner .dijitTextArea {
    width: 218px;
}

.dj_ie .phprojekt #content-ModuleDesigner .dijitTextArea {
    width: 209px;
}

.phprojekt #content-ModuleDesigner .form {
     margin-bottom: 0.1em;
     width: 100%;
}

.phprojekt #content-ModuleDesigner .form .col1 {
     width: 19%;
}

.phprojekt #content-ModuleDesigner .form .col2 {
     text-align: left;
     width: 50%;
}

.phprojekt #content-ModuleDesigner .form .col3 {
     text-align: left;
     width: 31%;
}

.phprojekt #content-ModuleDesigner #editor-ModuleDesigner .form .col1 {
     width: 35%;
}

.phprojekt #content-ModuleDesigner #editor-ModuleDesigner .form .col2 {
     text-align: left;
     width: 50%;
}

.phprojekt #content-ModuleDesigner #editor-ModuleDesigner .form .col3 {
     text-align: left;
     width: 15%;
}

.phprojekt #content-ModuleDesigner .form td {
    vertical-align: top;
}

.phprojekt #content-ModuleDesigner .dijitButton,
.phprojekt #content-ModuleDesigner .dijitDropDownButton,
.phprojekt #content-ModuleDesigner .dijitComboButton {
    margin: 0;
}

.phprojekt #target-ModuleDesigner .edit,
.phprojekt #target-ModuleDesigner .cross {
    margin-left: -4px;
}

/* Dialog */
.phprojekt .moduleDesignerDialog {
    background: #294064;
}

.phprojekt .moduleDesignerDialog .dijitDialogPaneContent {
    background: #294064;
    padding: 0px;
    border: 0px;
    height: 98% !important;
}
