/* Gantt */

.phprojekt .ganttChart ul,
.phprojekt .ganttChart li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.phprojekt .ganttChart .slider li {
    font-size: 8pt;
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    text-align: center;
}

.phprojekt .ganttChart .ganttcontent {
    position: absolute;
    left: 0;
    width: 100%;
    top: 150px;
    padding-bottom: 20px;
}

.phprojekt .ganttChart .timeline {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
}

.phprojekt .ganttChart .project_list {
    position: absolute;
    left: 0;
    width: 100%;
    top: 45px;
}

.phprojekt .ganttChart .sub_project .title {
    width: 250px;
    border-left: 1px solid #7d7d7d;
    border-right: 1px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d;
    float: left;
}

.phprojekt .ganttChart .sub_project .slider {
    margin-top: 0px;
    margin-left: 0px;
}

.phprojekt .ganttChart .sub_project .separator {
    width: 10px;
    float: left;
}

.phprojekt .ganttChart .dijitSliderProgressBarH {
    border-color: #aab0bb;
    background: url("images/bg.gif");
}

.phprojekt .ganttChart .dijitSliderProgressBarV {
    border-color: #aab0bb;
    display: none !important;
    background: #c0c2c5 url("images/sliderFullVertical.png") repeat-y bottom left;
}

.phprojekt .ganttChart .dijitSliderPhprFocused .dijitSliderProgressBarH,
.phprojekt .ganttChart .dijitSliderPhprFocused .dijitSliderLeftBumper {
    background-image: url("images/sliderFullFocus.png");
}

.phprojekt .ganttChart .dijitSliderPhprFocused .dijitSliderProgressBarV,
.phprojekt .ganttChart .dijitSliderPhprFocused .dijitSliderBottomBumper {
    background-image: url("images/sliderFullVerticalFocus.png");
}

.phprojekt .ganttChart .dijitSliderRemainingBarV {
    border-color: #b4b4b4;
    background: #dcdcdc url("images/sliderEmptyVertical.png") repeat-y bottom left;
}

.phprojekt .ganttChart .dijitSliderRemainingBarH {
    border-color: #b4b4b4;
    background: #dcdcdc url("images/sliderEmpty.png") repeat-x top left;
}

.phprojekt .ganttChart .dijitSliderBar {
    border-style: solid;
    outline: 1px;
}

.phprojekt .ganttChart .dijitSliderPhprFocused .dijitSliderBar {
    border-color: #888;
}

.dijit_a11y .ganttChart .dijitSliderProgressBar {
    background-color: #888 !important;
}

.phprojekt .ganttChart .dijitSliderImageHandleH {
    background: #0000ff !important;
    width: 5px;
    height: 12px;
    margin-top: 1px;
    cursor: e-resize;
    left: 0 !important;
    top: 0 !important;
}

.phprojekt .ganttChart .dijitSliderPhprFocused .dijitSliderImageHandleH {
    background-image: url("images/preciseSliderThumbFocus.png");
}

.dj_ie6 .phprojekt .ganttChart .dijitSliderImageHandleH {
    background-image: url("images/preciseSliderThumb.gif");
}

.phprojekt .ganttChart .dijitSliderLeftBumper {
    border-left-width: 1px;
    border-color: #aab0bb;
    background: #c0c2c5 url("images/sliderFull.png") repeat-x top left;
}

.phprojekt .ganttChart .dijitSliderRightBumper {
    background: #dcdcdc url("images/sliderEmpty.png") repeat-x top left;
    border-color: #b4b4b4;
    border-right-width: 1px;
}

.phprojekt .ganttChart .dijitSliderImageHandleV {
    border: 0px;
    width: 16px;
    height: 16px;
    background: url("images/sliderThumb.png") no-repeat center center;
    cursor: pointer;
}

.phprojekt .ganttChart .dijitSliderPhprFocused .dijitSliderImageHandleV {
    background-image: url("images/sliderThumbFocus.png");
}

.dj_ie6 .phprojekt .ganttChart .dijitSliderPhprFocused .dijitSliderImageHandleV {
    background-image: url("images/sliderThumbFocus.gif");
}

.phprojekt .ganttChart .dijitSliderBottomBumper {
    border-bottom-width: 1px;
    border-color: #aab0bb;
    background: #c0c2c5 url("images/sliderFullVertical.png") repeat-y bottom left;
}

.phprojekt .ganttChart .dijitSliderTopBumper {
    background: #dcdcdc url("images/sliderEmptyVertical.png") repeat-y top left;
    border-color: #b4b4b4;
    border-top-width: 1px;
}

.phprojekt .ganttChart .dijitSliderDecrementIconH,
.phprojekt .ganttChart .dijitSliderDecrementIconV,
.phprojekt .ganttChart .dijitSliderIncrementIconH,
.phprojekt .ganttChart .dijitSliderIncrementIconV {
    cursor: pointer;
    background-image: url("images/spriteArrows.png");
    background-repeat: no-repeat;
    margin: 5px;
    height: 7px;
    width: 7px;
    font-size: 1px;
}

.dj_ie6 .phprojekt .ganttChart .dijitSliderDecrementIconH,
.dj_ie6 .phprojekt .ganttChart .dijitSliderDecrementIconV,
.dj_ie6 .phprojekt .ganttChart .dijitSliderIncrementIconH,
.dj_ie6 .phprojekt .ganttChart .dijitSliderIncrementIconV {
    background-image: url("images/spriteArrows.gif");
}

.phprojekt .ganttChart .dijitSliderDecrementIconH {
    background-position: -7px 0px;
}
.phprojekt .ganttChart .dijitSliderIncrementIconH {
    background-position: -14px 0px;
}
.phprojekt .ganttChart .dijitSliderDecrementIconV {
    background-position: 0px 0px;
}
.phprojekt .ganttChart .dijitSliderIncrementIconV {
    background-position: -21px 0px;
}

.phprojekt .ganttChart .dijitSliderButtonInner {
    visibility: hidden;
}

.phprojekt .ganttChart .dijitSliderDisabled {
    opacity: 0.6 !important;
}

.dj_ie6 .phprojekt .ganttChart .dijitSliderDisabled,
.dj_ie6 .phprojekt .ganttChart .dijitSliderDisabled .dijitRuleContainer,
.dj_ie6 .phprojekt .ganttChart .dijitSliderDisabled .dijitSliderRemainingBar,
.dj_ie6 .phprojekt .ganttChart .dijitSliderDisabled .dijitSliderProgressBar {
    filter: gray() alpha(opacity=40);
}

.phprojekt .ganttChart .dijitSliderDisabled * {
    cursor: not-allowed !important;
}

.phprojekt .ganttChart .dijitSliderProgressBar {
    height: 9px;
    overflow: visible;
    margin-top: -5px;
}

.phprojekt .ganttChart .dijitSliderImageHandleH {
    background: #0000ff !important;
    width: 5px;
    height: 12px;
    margin-top: 1px;
    cursor: e-resize;
}

.phprojekt .ganttChart .dijitSliderImageHandle {
    border: none;
}

.phprojekt .ganttChart .dijitSliderImageHandleH {
    left: 0 !important;
    top: 0 !important;
}

.phprojekt .ganttChart .dojoxRangeSlider .dijitSliderLeftBumperH,
.phprojekt .ganttChart .dojoxRangeSlider .dijitSliderBottomBumperV {
    display: none !important;
}

.phprojekt .ganttChart .dojoxRangeSliderBarContainer {
    position: relative;
    height: 22px;
    margin-top: 2px;
}

.phprojekt .ganttChart .slider .dojoxRangeSlider td {
    vertical-align: middle;
}

.phprojekt .ganttChart .dojoxRangeSlider .dijitSliderProgressBarV,
.phprojekt .ganttChart .dijitSliderRemainingBar,
.phprojekt .ganttChart dijitSliderBumper {
    display: none !important;
}

.phprojekt .ganttChart .dijitSliderRightBumper {
    visibility: hidden;
}

.phprojekt .ganttChart .dojoxRangeSlider .dijitSliderProgressBar {
    overflow: hidden;
    cursor: pointer;
    height: 10px;
    border: 1px solid #0000ff;
    width: 40%;
    margin: 1px 0px;
}

.phprojekt .ganttChart .dojoxRangeSlider .dijitSliderProgressBarV {
    display: none !important;
}
