/* MonthView */
.phprojekt #tableMonthView-Timecard {
    width: 100%;
    line-height: 1.09;
}

.dj_ie7 .phprojekt #tableMonthView-Timecard {
    line-height: 1.04 !important;
}

.dj_ie .phprojekt #tableMonthView-Timecard {
    line-height: 1.15;
}

.phprojekt #tableMonthView-Timecard .col1 {
    width: 15%;
}

.phprojekt #tableMonthView-Timecard .col2 {
    width: 30%;
}

.phprojekt #tableMonthView-Timecard .col3 {
    width: 55%;
}

.phprojekt #tableMonthView-Timecard td {
    padding: 0 0.5em 0 0.5em;
}

.phprojekt #tableMonthView-Timecard .weekday,
.phprojekt #tableMonthView-Timecard .weekday a,
.phprojekt #tableMonthView-Timecard .weekend,
.phprojekt #tableMonthView-Timecard .weekend a {
    color: #000;
    text-decoration: none;
}

.phprojekt #tableMonthView-Timecard .weekend,
.phprojekt #tableMonthView-Timecard .weekend a {
    color: #ccc;
}

.phprojekt #tableMonthView-Timecard .open,
.phprojekt #tableMonthView-Timecard .open a {
    color: red;
}

.phprojekt .timecardSeparator {
    background-color: #fff;
    height: 5px;
}

.dj_ie .phprojekt #tableMonthView-Timecard .dijitButtonNode {
    padding: 0 0 0 5px;
}

/* DayView */
.phprojekt #dayViewContent-Timecard {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.phprojekt #dayViewContent-Timecard .dayViewWhite,
.phprojekt #dayViewContent-Timecard .dayViewCelestial {
    background-color: white;
    float: left;
    width: 100%;
    margin-left: 0px;
    z-index: -10;
    height: 20px;
    overflow: hidden;
}

.phprojekt #dayViewContent-Timecard .dayViewWhite .hourBox,
.phprojekt #dayViewContent-Timecard .dayViewCelestial .hourBox {
    background-color: #D4DFEA;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    width: 6em;
}


.dj_ie .phprojekt #dayViewContent-Timecard .dayViewWhite .hourBox,
.dj_ie .phprojekt #dayViewContent-Timecard .dayViewCelestial .hourBox {
    padding: 0 0 0 7px;
}

.phprojekt #dayViewContent-Timecard .dayViewCelestial {
    background-color: #e9f3ff;
}

.phprojekt #dayViewContent-Timecard .addButton .dijitButtonNode {
    width: 15px;
    border: none;
    background: none;
    padding: 0 3px 0 0;
}

.dj_ie .phprojekt #dayViewContent-Timecard .addButton .dijitButtonNode {
    padding: 0 3px 0 5px;
}

.dj_ie .phprojekt #dayViewContent-Timecard .addButton .dijitButtonContents {
    height: 15px;
}

.phprojekt #dayViewContent-Timecard .add {
    margin-left: 0;
}

.phprojekt .dndTarget,
.phprojekt .dndTargetOpen {
    display: inline;
    position: absolute;
    left: 0px;
    width: 85%;
    float: left;
    cursor: pointer;
    color: #294064;
    line-height: 1.1;
    padding-left: 1%;
    border-width: 3px;
    background-color: linen;
    border-color: #263349;
    border-style: solid solid solid;
}

.phprojekt .dndTargetOpen {
    border: 3px solid red;
    background: red;
}

/* FormView*/
.phprojekt .dndSource {
    border: 3px solid #f4cc47;
    -moz-border-radius: 8pt 8pt;
    radius: 8pt;
    cursor: pointer;
    padding-left: 10px;
    color: #000;
    background-color: #ffcc33;
    width: 95%;
    font-size: 8pt;
    font-weight: bold;
    filter: alpha(opacity=50);
    opacity: .5;
}

.dj_safari .phprojekt #projectBookingForm {
    overflow: hidden;
}

.phprojekt #projectBookingForm .formContainer {
    padding-left: 0px;
    background: #fff;
    margin: 0px;
    width: 100%;
    padding: 0px;
}

.phprojekt #projectBookingForm .col1 {
    width: 20%;
}

.phprojekt #projectBookingForm .col2 {
    width: 65%;
}

.phprojekt #projectBookingForm .col3 {
    width: 5%;
}

.phprojekt #projectBookingForm span .dijitArrowButtonInner {
    display: none;
}

/* Tooltip */
.phprojekt #tooltipDialog-Timecard {
    width: 460px;
    height: 165px;
}

.phprojekt #tooltipDialog-Timecard .dijitTooltipContainer {
    background-color: #FFCC33;
    border: 1px solid #294064;
}

.phprojekt #tooltipDialog-Timecard .dijitTooltipConnector {
    background: url("images/tooltipConnectorLeft_ffcc33.png") no-repeat top left;
}

.dj_ie .phprojekt #tooltipDialog-Timecard .dijitTooltipConnector {
    background-image: url("images/tooltipConnectorLeft_ffcc33.gif");
}

.phprojekt .hiddenTooltipPoint {
    height: 20px;
    left: 6.5em;
    position: relative;
    top: 0px;
    width: 10px;
}

.dj_ie .phprojekt .hiddenTooltipPoint {
    left: 4em;
}

