/* Gantt */

.phprojekt #defaultMainContent-Gantt ul,
.phprojekt #defaultMainContent-Gantt li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.phprojekt #defaultMainContent-Gantt .slider li {
    font-size: 8pt;
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    text-align: center;
}

.phprojekt #defaultMainContent-Gantt .ganttcontent {
    position: absolute;
    left: 0;
    width: 100%;
    top: 150px;
    padding-bottom: 20px;
}

.phprojekt #defaultMainContent-Gantt .timeline {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
}

.phprojekt #defaultMainContent-Gantt .project_list {
    position: absolute;
    left: 0;
    width: 100%;
    top: 45px;
}

.phprojekt #defaultMainContent-Gantt .sub_project .title {
    width: 250px;
    border-left: 1px solid #7d7d7d;
    border-right: 1px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d;
    float: left;
}

.phprojekt #defaultMainContent-Gantt .sub_project .slider {
    margin-top: 0px;
    margin-left: 0px;
}

.phprojekt #defaultMainContent-Gantt .sub_project .separator {
    width: 10px;
    float: left;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderProgressBarH {
    border-color: #aab0bb;
    background: url("images/bg.gif");
}

.phprojekt #defaultMainContent-Gantt .dijitSliderProgressBarV {
    border-color: #aab0bb;
    display: none !important;
    background: #c0c2c5 url("images/sliderFullVertical.png") repeat-y bottom left;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderPhprFocused .dijitSliderProgressBarH,
.phprojekt #defaultMainContent-Gantt .dijitSliderPhprFocused .dijitSliderLeftBumper {
    background-image: url("images/sliderFullFocus.png");
}

.phprojekt #defaultMainContent-Gantt .dijitSliderPhprFocused .dijitSliderProgressBarV,
.phprojekt #defaultMainContent-Gantt .dijitSliderPhprFocused .dijitSliderBottomBumper {
    background-image: url("images/sliderFullVerticalFocus.png");
}

.phprojekt #defaultMainContent-Gantt .dijitSliderRemainingBarV {
    border-color: #b4b4b4;
    background: #dcdcdc url("images/sliderEmptyVertical.png") repeat-y bottom left;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderRemainingBarH {
    border-color: #b4b4b4;
    background: #dcdcdc url("images/sliderEmpty.png") repeat-x top left;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderBar {
    border-style: solid;
    outline: 1px;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderPhprFocused .dijitSliderBar {
    border-color: #888;
}

.dijit_a11y #defaultMainContent-Gantt .dijitSliderProgressBar {
    background-color: #888 !important;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderImageHandleH {
    background: #0000ff !important;
    width: 5px;
    height: 12px;
    margin-top: 1px;
    cursor: e-resize;
    left: 0 !important;
    top: 0 !important;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderPhprFocused .dijitSliderImageHandleH {
    background-image: url("images/preciseSliderThumbFocus.png");
}

.dj_ie6 .phprojekt #defaultMainContent-Gantt .dijitSliderImageHandleH {
    background-image: url("images/preciseSliderThumb.gif");
}

.phprojekt #defaultMainContent-Gantt .dijitSliderLeftBumper {
    border-left-width: 1px;
    border-color: #aab0bb;
    background: #c0c2c5 url("images/sliderFull.png") repeat-x top left;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderRightBumper {
    background: #dcdcdc url("images/sliderEmpty.png") repeat-x top left;
    border-color: #b4b4b4;
    border-right-width: 1px;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderImageHandleV {
    border: 0px;
    width: 16px;
    height: 16px;
    background: url("images/sliderThumb.png") no-repeat center center;
    cursor: pointer;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderPhprFocused .dijitSliderImageHandleV {
    background-image: url("images/sliderThumbFocus.png");
}

.dj_ie6 .phprojekt #defaultMainContent-Gantt .dijitSliderPhprFocused .dijitSliderImageHandleV {
    background-image: url("images/sliderThumbFocus.gif");
}

.phprojekt #defaultMainContent-Gantt .dijitSliderBottomBumper {
    border-bottom-width: 1px;
    border-color: #aab0bb;
    background: #c0c2c5 url("images/sliderFullVertical.png") repeat-y bottom left;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderTopBumper {
    background: #dcdcdc url("images/sliderEmptyVertical.png") repeat-y top left;
    border-color: #b4b4b4;
    border-top-width: 1px;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderDecrementIconH,
.phprojekt #defaultMainContent-Gantt .dijitSliderDecrementIconV,
.phprojekt #defaultMainContent-Gantt .dijitSliderIncrementIconH,
.phprojekt #defaultMainContent-Gantt .dijitSliderIncrementIconV {
    display: none;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderButtonInner {
    visibility: hidden;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderDisabled {
    opacity: 0.6 !important;
}

.dj_ie6 .phprojekt #defaultMainContent-Gantt .dijitSliderDisabled,
.dj_ie6 .phprojekt #defaultMainContent-Gantt .dijitSliderDisabled .dijitRuleContainer,
.dj_ie6 .phprojekt #defaultMainContent-Gantt .dijitSliderDisabled .dijitSliderRemainingBar,
.dj_ie6 .phprojekt #defaultMainContent-Gantt .dijitSliderDisabled .dijitSliderProgressBar {
    filter: gray() alpha(opacity=40);
}

.phprojekt #defaultMainContent-Gantt .dijitSliderDisabled * {
    cursor: not-allowed !important;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderProgressBar {
    height: 9px;
    overflow: visible;
    margin-top: -5px;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderImageHandleH {
    background: #0000ff !important;
    width: 5px;
    height: 12px;
    margin-top: 1px;
    cursor: e-resize;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderImageHandle {
    border: none;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderImageHandleH {
    left: 0 !important;
    top: 0 !important;
}

.phprojekt #defaultMainContent-Gantt .dojoxRangeSlider .dijitSliderLeftBumperH,
.phprojekt #defaultMainContent-Gantt .dojoxRangeSlider .dijitSliderBottomBumperV {
    display: none !important;
}

.phprojekt #defaultMainContent-Gantt .dojoxRangeSliderBarContainer {
    position: relative;
    height: 22px;
    margin-top: 2px;
}

.phprojekt #defaultMainContent-Gantt .slider .dojoxRangeSlider td {
    vertical-align: middle;
}

.phprojekt #defaultMainContent-Gantt .dojoxRangeSlider .dijitSliderProgressBarV,
.phprojekt #defaultMainContent-Gantt .dijitSliderRemainingBar,
.phprojekt #defaultMainContent-Gantt dijitSliderBumper {
    display: none !important;
}

.phprojekt #defaultMainContent-Gantt .dijitSliderRightBumper {
    visibility: hidden;
}

.phprojekt #defaultMainContent-Gantt .dojoxRangeSlider .dijitSliderProgressBar {
    overflow: hidden;
    cursor: pointer;
    height: 10px;
    border: 1px solid #0000ff;
    width: 40%;
    margin: 1px 0px;
}

.phprojekt #defaultMainContent-Gantt .dojoxRangeSlider .dijitSliderProgressBarV {
    display: none !important;
}
