@import url("Grid.css");

.phprojekt .dojoxGrid {
    background-color: #e9e9e9;
    font-size: 0.85em; /* inherit font-family from dojo.css */
}

/* master messages */

.phprojekt .dojoxGridMasterMessages {
    background-color: #fefefe;
}

/* header */

.phprojekt .dojoxGridHeader {
    background-color: #e9e9e9;
}

.phprojekt .dojoxGridHeader .dojoxGridCell {
    border-width: 1px;
    padding-bottom: 0px;
    border-color: transparent #ACA899 #919191 transparent;
    background: url("images/titleBar.png") #e9e9e9 repeat-x top;
    color: #000 !important;
}

.phprojekt .dojoxGridHeader .dojoxGridCellOver {
    background: url("images/titleBarActive.png") #e9e9e9 repeat-x top;
}

.phprojekt .dojoxGridArrowButtonChar {
    float: right;
}

.phprojekt .dojoxGridArrowButtonNode {
    display: block !important;
    padding-left: 0px;
    float: right;
    background: url("images/spriteArrows.png") no-repeat left center;
    margin-top: 2px;
    width: 11px;
    height: 1em;
}

.dj_ie6 .phprojekt .dojoxGridArrowButtonNode {
    background-image: url("images/spriteArrows.gif");
}

.phprojekt .dojoxGridSortUp .dojoxGridArrowButtonNode {
    background-position: -21px;
}

.dijit_a11y .dojoxGridArrowButtonNode {
    display: none !important;
}

/* content */

.phprojekt .dojoxGridScrollbox {
    background-color: #fefefe;
}

/* rowbar */

.phprojekt .dojoxGridRowbar {
    border: none;
    background: url("images/titleBar.png") #e9e9e9 repeat-y right;
    border-right: 1px solid #cccccc;
    padding: 0px;
}

.phprojekt .dojoxGridRowbarInner {
    border: none;
    border-bottom: 1px solid #cccccc;
}

.phprojekt .dojoxGridRowbarOver {
    background: url("images/titleBarActive.png") #e9e9e9 repeat-y right;
}

.phprojekt .dojoxGridRowbarSelected {
    background: #D9E8F9 url("images/titleBar.png") #dddddd no-repeat center;
    border-right: 1px solid #cccccc;
}

/* rows */

.phprojekt .dojoxGridRow {
    border: none;
    background-color: white;
}

.phprojekt .dojoxGridRowOver {
    border-top-color: #cccccc;
    border-bottom-color: #cccccc;
}

.phprojekt .dojoxGridRowOver .dojoxGridCell {
    background-color: #60a1ea;
}

.phprojekt .dojoxGridRowOdd {
    background-color: #f2f5f9;
}

.phprojekt .dojoxGridRowSelected {
    /*background-color: #D9E8F9;*/
}

.phprojekt .dojoxGridRowChecked {
    background-color: #aec7e3;
}

/* cells */

.phprojekt .dojoxGridCell {
    border: 1px dotted #D5CDB5;
    border-left-color: transparent;
    border-top-color: transparent;
}

.dj_ff2 .phprojekt .dojoxGridCell {
    border-left-width: 0px;
    border-top-width: 0px;
}

.dj_ie6 .phprojekt .dojoxGridCell {
    border: 1px solid white;
    border-right: 1px solid #D5CDB5;
}

.phprojekt .dojoxGridCellFocus {
    border: 1px dotted #a6a6a6;
}

.phprojekt .dojoxGridCellOver {
    border: 1px dotted #a6a6a6;
}

.phprojekt .dojoxGridCellFocus.dojoxGridCellOver {
    border: 1px dotted #595959;
}

/* editing */

.phprojekt .dojoxGridRowEditing td {
    /* background-color: #60a1ea; */
}

.phprojekt .dojoxGridRow-inserting td {
    background-color: #F4FFF4;
}

.phprojekt .dojoxGridRow-inflight td {
    background-color: #F2F7B7;
}

.phprojekt .dojoxGridRow-error td {
    background-color: #F8B8B6;
}

/* Drag and Drop */

.phprojekt .dojoxGrid .dojoDndItemBefore {
    border-left-color: #4B5AAA;
}
.phprojekt .dojoxGrid .dojoDndItemAfter {
    border-right-color: #4B5AAA;
}

/* Actions */
.phprojekt .gridActions #arrow {
    background-image: url("images/arrowLeft.png");
    background-color: transparent;
    width: 38px;
    height: 22px;
}

.phprojekt .gridActions .exportOption {
    color: green;
    background-color: white;
}

.phprojekt .gridActions .deleteOption {
    color: red;
    background-color: white;
}
