/* Tree */

.phprojekt .dijitTreeNode {
    background : none;
    background-position : top left;
    background-repeat : repeat-y;
}

.phprojekt .dijitTreeNodeHover {
    background-repeat: repeat;
    background-color: none !important;
}


.phprojekt .dijitTreeLabel {
    font-weight: normal;
    margin-left: 3px;
}

.phprojekt .dijitTreeIsRoot {
    margin-left: 0;
    background-image: none;
}

.phprojekt .dijitTreeExpando {
    width: 18px;
    height: 18px;
}

.phprojekt .dijitTreeRow {
    /* so insert line shows up on IE when dropping after a target element */
    background: none;
    color: white;
}

.phprojekt .dijitTreeRowSelected,
.phprojekt .dijitTreeRowHover {
    border-color: #103446;
    background: rgba(250,250,250, 0.2);
    color: white;
}

.phprojekt .dijitTreeContent {
    min-height: 18px;
    min-width: 18px;
    padding-left:1px;
}


.phprojekt .dijitTreeExpand {
    width: 18px;
    height: 18px;
    background-repeat : no-repeat;
}

/* same style as IE selection */
.phprojekt .dijitTreeNodeEmphasized {
    background-color: Highlight;
    color: HighlightText;
}

/* don't use :focus due to opera and IE's lack of support on div's */
.phprojekt .dijitTreeLabelFocused {
    outline: 1px invert dotted;
}

.phprojekt .treeBox .selected {
    background: #294064;
}

.phprojekt .treeBox .selected .dijitTreeLabel {
    font-weight: 600;
    color: #fff;
}
