<!-- Events inside the schedule chart -->
<div id="calendarSchedule">
    <table width="{{widthTable}}%">
    {% for row in timeSquare %}
        <tr>
            <td width="{{widthHourColumn}}%" class="hours">{{row.hour}} &nbsp;
                <button dojoType="dijit.form.Button" showLabel="false" iconClass="add" class="addButton"
                    onClick="dojo.publish('Calendar.openForm', [null, null, null, '{{row.hour}}']);">
            </td>
            {% for column in row.columns %}
                {% if column.occupied %}
                    {% ifequal column.typeEvent 1 %}
            <td rowspan="{{column.quartersDuration}}" width="{{column.widthColumn}}%" class="events">
                <a href="javascript:dojo.publish('Calendar.showFormFromList', [{{column.id}}]);">{{column.startTime}}
                    - {{column.endTime}}</a> {{column.title|safe}}<br />
                <div class="horizontalLine">
                </div>
                {{column.notes|safe}}
            </td>
                    {% endifequal %}
                {% else %}
                    {% ifequal row.even true %}
            <td width="{{column.width}}%" style="background-color: white;"></td>
                    {% else %}
            <td width="{{column.width}}%" style="background-color: #e9f3ff;"></td>
                    {% endifequal %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>
<!-- Events outside the schedule chart -->
{% if furtherEvents.show %}
<br />
    {{furtherEventsMessage}}:<br />
    {% for event in furtherEvents.events %}
<a href="javascript:dojo.publish('Calendar.showFormFromList', [{{event.id}}]);">{{event.startTime}}
    - {{event.endTime}}</a> {{event.title}}<br />
    {% endfor %}
{% endif %}