<table style="position: relative; left: 75px; width: 90%">
<tr>
    <th>
        <label>{{dateTxt}}</label>
    </th>
    <th>
        <label>{{userTxt}}</label>
    </th>
    <th>
        <label>{{fieldTxt}}</label>
    </th>
    <th>
        <label>{{oldValueTxt}}</label>
    </th>
    <th>
        <label>{{newValueTxt}}</label>
    </th>
</tr>
{% for history in data %}
<tr class="{{history.trClass}}">
    <td>{{history.date}}</td>
    <td>{{history.user}}</td>
    <td>{{history.field}}</td>
    <td>{{history.oldValue}}</td>
    <td>{{history.newValue}}</td>
</tr>
{% endfor %}
</table>
