.timecard .baseLayout {
    width: 834px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 0;
    background: black;
    color: white;
}

.timecard .mainContent {
}
