.bookingList {
    font-weight: bold;
}

.bookingBlockHeader {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.bookingBlockHeader.today {
    font-size: large;
    color: #adadad;
}

.bookingBlockBody {
    background: #5a5a5a;
}

.bookingBlockBody.empty {
    height: 9px;
}

.bookingEntry {
    background: #eeeeee;
    border: 1px solid black;
    color: black;
    padding-left: 25px;
    padding-top: 5px;
    padding-right: 4px;
    padding-bottom: 5px;
    min-height: 24px;
    line-height: 24px;
}

.bookingCreator.bookingEditor,
.bookingEntry.selected {
    background: #0d639b;
    color: white;
}

.bookingEntry.confirmDeletion {
    background: #9b110d;
    color: white;
}

.dijitMenuItem hr {
    border: 1px solid #efefef;
    padding: 0px;
    margin: 0px;
}
.timecard .dijitMenuItem.dijitMenuItemHover {
    background: #efefef;
    border-color: #efefef;
}
.timecard .dijitMenuItem.dijitMenuItemSelected {
    background: #dfdfdf;
    border-color: #dfdfdf;
}

@keyframes bookingEntryHighlight {
    from {
        background: #eeeeee;
    }

    50% {
        background: #0d639b;
    }

    to {
        background: #eeeeee;
    }
}

@-moz-keyframes bookingEntryHighlight {
    from {
        background: #eeeeee;
    }

    50% {
        background: #0d639b;
    }

    to {
        background: #eeeeee;
    }
}

@-webkit-keyframes bookingEntryHighlight {
    from {
        background: #eeeeee;
    }

    50% {
        background: #0d639b;
    }

    to {
        background: #eeeeee;
    }
}

@-o-keyframes bookingEntryHighlight {
    from {
        background: #eeeeee;
    }

    50% {
        background: #0d639b;
    }

    to {
        background: #eeeeee;
    }
}

.bookingEntry.highlight {
    animation-duration: 2s, 250ms;
    -moz-animation-duration: 2s, 250ms;
    -webkit-animation-duration: 2s, 250ms;
    -o-animation-duration: 2s, 250ms;
    animation-name: bookingEntryHighlight;
    -moz-animation-name: bookingEntryHighlight;
    -webkit-animation-name: bookingEntryHighlight;
    -o-animation-name: bookingEntryHighlight;
}

.bookingEntry .deleteButton,
.bookingEntry .editButton {
    margin-top: -1px;
    float: right;
    display: none;
}

.bookingEntry:hover .deleteButton,
.bookingEntry:hover .editButton {
    display: inline-block;
}
.bookingEntry:hover .deleteIcon {
    background-image: url(../../../img/timecard/icon-trash_inv.png);

}
.bookingEntry:hover .editIcon {
    background-image: url(../../../img/timecard/icon-edit_inv.png);
}

.bookingEntry.selected .deleteButton,
.bookingEntry.selected .editButton {
    display: inline-block;
}

.bookingEditor table {
    width: 100%;
}

.bookingEditor .editButtonCell {
    vertical-align: middle !important;
    text-align: center;
}

.bookingEditor .confirmEditButton .dijitButtonNode {
    color: white;
    background-color: #9b110d;
    border: 1px solid #0b5281;
    -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    -o-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    background-image: -webkit-linear-gradient(#0d6299 0%, #0b5382 100%);
    background-image: -o-linear-gradient(#0d6299 0%, #0b5382 100%);
    background-image: -moz-linear-gradient(#0d6299 0%, #0b5382 100%);
    background-image: linear-gradient(#0d6299 0%, #0b5382 100%);
}

.bookingEditor .confirmEditButton.dijitHover .dijitButtonNode {
    background-color: #9b110d;
    -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    -o-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    background-image: -webkit-linear-gradient(#0c5c90 0%, #0a4b76 100%);
    background-image: -o-linear-gradient(#0c5c90 0%, #0a4b76 100%);
    background-image: -moz-linear-gradient(#0c5c90 0%, #0a4b76 100%);
    background-image: linear-gradient(#0c5c90 0%, #0a4b76 100%);
}

.bookingEntry .confirmDeleteButton {
    margin: 0;
    float: right;
    display: none;
}

.bookingEditor .confirmEditButton .dijitButtonText,
.bookingEntry .confirmDeleteButton .dijitButtonText {
    color: white;
}

.bookingEntry .confirmDeleteButton .dijitButtonNode {
    background-color: #9b110d;
    border: 1px solid #810e0b;
    -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    -o-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    background-image: -webkit-linear-gradient(rgba(153, 17, 13, 1) 0%, rgba(130, 14, 11, 1) 100%);
    background-image: -o-linear-gradient(rgba(153, 17, 13, 1) 0%, rgba(130, 14, 11, 1) 100%);
    background-image: -moz-linear-gradient(rgba(153, 17, 13, 1) 0%, rgba(130, 14, 11, 1) 100%);
    background-image: linear-gradient(rgba(153, 17, 13, 1) 0%, rgba(130, 14, 11, 1) 100%);
}

.bookingEntry .confirmDeleteButton.dijitHover .dijitButtonNode {
    background-color: #9b110d;
    -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    -o-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
    background-image: -webkit-linear-gradient(rgba(148, 4, 0, 1) 0%, rgba(114, 5, 2, 1) 100%);
    background-image: -o-linear-gradient(rgba(148, 4, 0, 1) 0%, rgba(114, 5, 2, 1) 100%);
    background-image: -moz-linear-gradient(rgba(148, 4, 0, 1) 0%, rgba(114, 5, 2, 1) 100%);
    background-image: linear-gradient(rgba(148, 4, 0, 1) 0%, rgba(114, 5, 2, 1) 100%);
}

.bookingEditor .confirmEditButton .dijitButtonNode,
.bookingEntry .confirmDeleteButton .dijitButtonNode {
    padding: 0;
}

.bookingEntry.confirmDeletion .confirmDeleteButton {
    display: inline-block;
}

.bookingEntry .project {
    display: inline-block;
    min-width: 175px;
}

.bookingEntry .notes {
    display: block;
    margin-top: 1px;
    font-weight: normal;
}

.bookingCreator {
    min-height: 30px;
    background-color: black;
    border-bottom: 1px solid #4A4A4A;
    border-top: 1px solid #4A4A4A;
}

.bookingCreator .bookingForm {
    line-height: 30px;
    padding-left: 8px;
}

.bookingCreator.bookingEditor .submitButton {
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
}

.bookingCreator .submitButton {
    float: right;
    line-height: 30px !important;
}


.bookingCreator .bookingForm > * {
    vertical-align: middle;
    line-height: normal;
}

.timecard .bookingCreator .dijitSelect,
.timecard .bookingCreator .dijitSelect .dijitButtonContents,
.timecard .bookingCreator .dijitTextBox,
.timecard .bookingCreator .dijitTextBox .dijitButtonNode {
    border-radius: 3px;
}

.bookingCreator .notes {
    width: 436px;
}

.dijitIcon.submitIcon {
    background-image: url(../../../img/timecard/icon-add.png);
    background-repeat: no-repeat;
    min-height: 23px;
    min-width: 23px;
}

.bookingEntry.selected .dijitIcon.deleteIcon {
    background-image: url(../../../img/timecard/icon-trash.png);
}
.dijitIcon.deleteIcon {
    background-repeat: no-repeat;
    min-height: 23px;
    min-width: 23px;
}

.bookingEntry.selected .dijitIcon.editIcon {
    background-image: url(../../../img/timecard/icon-edit.png);
}
.dijitIcon.editIcon {
    background-repeat: no-repeat;
    min-height: 23px;
    min-width: 23px;
}

.submitButton .dijitButtonNode,
.deleteButton .dijitButtonNode,
.editButton .dijitButtonNode {
    border: none;
}

.bookingCreator .project {
    color: black;
    margin-right: 10px;
}

.bookingCreator .time {
    width: 5em;
}

.bookingCreator .date {
    margin-left: 8px;
    width: 8em;
}
.timecard .dijitPlaceHolder {
    font-style: normal
}
