.timecard .bookingView {
}

.timecard .bookingView .dateChooserContainer {
    width: 230px;
    float: left;
    background-image: url(../../../img/bookingsDateChooserBackground.png);
    background-repeat: repeat-y;
    background-position: top left;
}

.timecard .bookingView .bookingListContainer {
    float: left;
    width: 604px;
    background-color: #1a1919;
}

