.bookingList {
    font-weight: bold;
}

.bookingBlockHeader {
    background: #171717;
    color: white;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
}

.bookingBlockHeader.today {
    font-size: large;
    color: #adadad;
}

.bookingBlockBody {
    background: #5a5a5a;
}

.bookingBlockBody.empty {
    height: 9px;
}

.bookingEntry {
    background: #eeeeee;
    border: 1px solid black;
    color: black;
    padding-left: 25px;
    padding-top: 7px;
    padding-right: 4px;
    padding-bottom: 2px;
    min-height: 22px;
}

.bookingEntry .deleteButton {
    margin-top: -1px;
    float: right;
    display: none;
}
.bookingEntry:hover .deleteButton {
    display: inline-block;
}

.bookingEntry + .bookingEntry {
    margin-top: 9px;
}

.bookingEntry .project {
    display: inline-block;
    min-width: 175px;
}

.bookingEntry .notes {
    display: block;
    margin-top: 1px;
    font-weight: normal;
}

.selectedDate {
    font-size: large;
    text-align: center;
    background-color: black;
    color: white;
}

.bookingCreator {
    margin-top: 2px;
    min-height: 22px;
}

.dijitIcon.submitIcon {
    background-image: url(../../../img/timecard/icon-add.png);
    background-repeat: no-repeat;
    min-height: 22px;
    min-width: 22px;
}

.submitButton .dijitButtonNode {
    border: none;
}

.bookingCreator .project {
    color: black;
    margin-left: 8px;
    margin-right: 10px;
}

.bookingCreator .notes {
    visibility: hidden;
}

.bookingCreator .time {
    width: 5em;
}

.bookingCreator .date {
    margin-left: 8px;
    width: 8em;
}
