.timecard .menubar {
    font-size: 24px;
    display: table-row;
}

.timecard .menubarMiddle {
    width: 834px;
    margin-left: auto;
    margin-right: auto;
}

.timecard .menubarOuter {
    height: 43px;
    background: #101110;
    width: 100%;
    position: absolute;
    left: 0px;
    border-bottom: 2px solid #101110;
    box-shadow: 0px 1px 1px 0px black;
    z-index: 1;
    overflow: hidden;
}

.timecard .menubar .menubarItem {
    height: 32px;
    width: 185px;
    display: table-cell;
    vertical-align: top;
    padding-top: 11px;
    padding-left: 53px;
}

.timecard .menubar .startButton {
    background: #0D639B;
    background-image: url(../../../img/timecard/icon-time.png);
    background-repeat: no-repeat;
    background-position: 20px 11px;
}

.timecard .menubarOuter.start {
    border-bottom: 2px solid #0D639B;
}

.timecard .menubar .bookingsButton {
    background: #799B00;
    background-image: url(../../../img/timecard/icon-play.png);
    background-repeat: no-repeat;
    background-position: 20px 11px;
}

.timecard .menubarOuter.bookings {
    border-bottom: 2px solid #799B00;
}

