.timecard .menubar {
    font-size: 19px;
    border-spacing: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.timecard .menubar td.button:first-child {
    border-left: 0;
}

.timecard .menubar td.button:last-child {
    border-right: 0;
}

.timecard .menubar td.left {
    border-left: 1px solid black;
    padding-right: 1px;
}

.timecard .menubar td.right {
    border-right: 0;
    padding-left: 0;
}

.timecard .menubar td.button {
    width: 140px;
    vertical-align: top;
    text-align: left;
    cursor: pointer;
}

.timecard .menubarMiddle {
    width: 834px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.timecard .menubarOuter {
    height: 40px;
    background: #101110;
    width: 100%;
    position: absolute;
    left: 0px;
    border-bottom: 2px solid #101110;
    box-shadow: 0px 1px 1px 0px black;
    z-index: 1;
}

.timecard .menubar div.menuItem {
    padding-left: 48px;
    padding-top: 10px;
    display: inline-block;
}

.timecard .menubar .startButton .menuItem {
    background-image: url(../../../img/timecard/icon-play.png);
    background-repeat: no-repeat;
    background-position: 14px 9px;
}

.timecard .menubar .bookingsButton .menuItem {
    background-image: url(../../../img/timecard/icon-time.png);
    background-repeat: no-repeat;
    background-position: 14px 9px;
}

.timecard .menubar .statisticsButton .menuItem {
    background-image: url(../../../img/timecard/icon-statistic.png);
    background-repeat: no-repeat;
    background-position: 14px 9px;
}

.timecard .menubar td.startButton {
    background: #0D639B;
}

.timecard .menubar td.bookingsButton {
    background: #799B00;
}

.timecard .menubar td.statisticsButton {
    background: #545454;
}

.timecard .menubar td.teamStatisticsButton {
    width: 200px;
    background: #7E2A2A;
}

.timecard .menubar td.teamStatisticsButton div.menuItem {
    background-image: url(../../../img/timecard/icon-statistic.png);
    background-repeat: no-repeat;
    background-position: 14px 9px;
}

.timecard .menubarOuter.start {
    border-color: #0D639B;
}

.timecard .menubarOuter.bookings {
    border-color: #799B00;
}

.timecard .menubarOuter.statistics {
    border-color: #545454;
}

.timecard .menubarOuter.teamStatistics {
    border-color: #7E2A2A;
}

.timecard .menubar td.button.logoutButton {
    width: 44px;
    vertical-align: middle;
    text-align: center;
}

.timecard .menubar td.dijitHover {
    background-color: #1F201F;
}

.timecard .menubar div.menuItem.logoutIcon {
    background-image: url(../../../img/timecard/icon-logout.png);
    background-repeat: no-repeat;
    min-height: 26px;
    min-width: 26px;
    padding: 0;
    vertical-align: middle;
}

.timecard .menubar td.button.warningIconButton.empty {
    display: none;
}

.timecard .menubar td.button.warningIconButton {
    width: 45px;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #101110;
}

.timecard .menubar td.button.warningIconButton .menuContainer {
    position: relative;
}

.timecard .menubar td.button.warningIconButton .menuItem,
.timecard .menubar td.button.warningIconButton .warningIcon {
    background-image: url(../../../img/timecard/icon-warning.png);
    background-repeat: no-repeat;
    min-height: 23px;
    min-width: 23px;
    padding: 0;
    vertical-align: middle;
}

.timecard .menubar .warningIconButton .dijitMenu tr {
    display: block;
}

.timecard .menubar .warningIconButton .dijitMenu td {
    display: inline-block;
    background: transparent;
    color: white;
}

.timecard .menubar .warningIconButton tr.dijitMenuItem:last-child {
    border-bottom: 1px solid #F8A815;
}

.timecard .menubar .warningIconButton td.dijitMenuItemLabel {
    font-size: 14px;
    white-space: normal;
    width: 351px;
}

.timecard .menubar .warningIconButton td.dijitMenuArrowCell {
    display: none;
}

.timecard .menubar .warningIconButton tr.dijitMenuItem.dijitMenuItemSelected,
.timecard .menubar .warningIconButton tr.dijitMenuItem.dijitMenuItemHover {
    background-color: #353635;
    border-top: 0;
}

.timecard .menubar .warningIconButton tr.dijitMenuItem.dijitMenuItemSelected:first-child,
.timecard .menubar .warningIconButton tr.dijitMenuItem.dijitMenuItemHover:first-child {
    border-top: 0;
    background-color: #353635;
    background-image: url(../../../img/timecard/warningMenuHeader.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.timecard .menubar td.warningIconButton.open {
    background-color: #1F201F;
    border-color: #F8A815;
}

.timecard .menubar .warningIconButton table.menu {
    background-image: url(../../../img/timecard/warningMenuHeader.png);
    background-repeat: no-repeat;
    background-color: #1F201F;
    border-top: 0;
    border-color: #F8A815;
    position: absolute;
    visibility: hidden;
    z-index: 2;
    width: 411px;
    left: -197px;
    top: 8px;
}

.timecard .menubar .warningIconButton.open .menu {
    visibility: visible;
}

.timecard .menubar td.button.logo {
    width: 150px;
    padding-top: 8px;
}
