.statisticsView .buttons-outer {
    list-style: none;
    float: right;
    margin-top: 19px;
    margin-bottom: 17px;
    margin-right: 4px;
}

.statisticsView .buttons-outer>li {
    float: left;
    line-height: 8px;
}

.statisticsView .buttons-outer>li>img {
    height: 12px;
    width: 17px;
    margin: 3px 4px 3px 4px;
}

.statisticsView .buttons-outer>li:hover,
.statisticsView .buttons-outer>li.active {
    background-color: #353535;
    cursor: pointer;
}


.statisticsView .buttons {
    float: right;
    height: 22px;
    margin-top: 19px;
    margin-bottom: 17px;
    margin-right: 4px;
}

.statisticsView p {
    margin-bottom: 0px;
}

.statisticsView .filters {
    max-height: 0px;
    width: 100%;
    overflow: hidden;
    background-color: #090909;
    box-shadow: inset 0px 1px 4px black;
    -moz-box-shadow: inset 0px 1px 4px black;
    -webkit-box-shadow: inset 0px 1px 4px black;
    -o-box-shadow: inset 0px 1px 4px black;
    transition: max-height 0.2s;
    -moz-transition: max-height 0.2s; /* Firefox 4 */
    -webkit-transition: max-height 0.2s; /* Safari and Chrome */
    -o-transition: max-height 0.2s; /* Opera */
}

.statisticsView .filters.open {
    max-height: 170px;
    transition: max-height 0.2s;
    -moz-transition: max-height 0.2s; /* Firefox 4 */
    -webkit-transition: max-height 0.2s; /* Safari and Chrome */
    -o-transition: max-height 0.2s; /* Opera */
}

.statisticsView .filters-inner {
    padding-left: 20px;
}
