<div id="scheduleBar">
    <table>
        <tr>
            <td>
                &nbsp;
                <a href="javascript: dojo.publish('Calendar.setDate', [0]);">&lt;&lt;</a>&nbsp;
                <a href="javascript: dojo.publish('Calendar.setDate', [1]);">{{today}}</a>&nbsp;
                <a href="javascript: dojo.publish('Calendar.setDate', [2]);">&gt;&gt;</a>
            </td>
            <td style="width: 20px;"></td>
            <td>
                <div id="scheduleBarDate" style="font-weight: bold;">{{date}}</div>
            </td>
        </tr>
    </table>
</div>