<!-- Events inside the schedule chart -->
<div id="calendarSchedule">
    <table width="{{widthTable}}%">
    {% for row in schedule %}
    <tr>
        <td width="{{widthHourColumn}}%" class="hours">{{row.hour}} &nbsp;
            <button dojoType="dijit.form.Button" showLabel="false" iconClass="add" class="addButton"
                onClick="dojo.publish('Calendar.openForm', [null, null, '{{date}}', '{{row.hour}}']);">
            </button>
        </td>
        {% for column in row.columns %}
            {% if column.occupied %}
                {% ifequal column.typeEvent 1 %}
        <td rowspan="{{column.halvesDuration}}" width="{{column.width}}%" class="fixedEvents">
            {{column.time|safe}}
            <a href="javascript: dojo.publish('Calendar.setUrlHash', ['Calendar', 
                {{column.id}}]);">{{column.title|safe}}</a>
            <br />
            <div class="horizontalLine">
            </div>
            {{column.notes|safe}}
        </td>
                {% endifequal %}
            {% else %}
        <td width="{{column.width}}%" class="{{column.class}}"
                {% ifequal row.even true %}
        style="background-color: white;"
                {% else %}
        style="background-color: #e9f3ff;"
                {% endifequal %}
        ></td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
</div>
<!-- Events outside the schedule chart -->
{% if furtherEvents.show %}
<br />
    {{furtherEventsMessage}}:<br />
    {% for event in furtherEvents.events %}
{{event.time|safe}}&nbsp; 
<a href="javascript: dojo.publish('Calendar.setUrlHash', ['Calendar', {{event.id}}]);">{{event.title|safe}}</a>
<br />
    {% endfor %}
{% endif %}
