<form dojoType="dijit.form.Form" id="bookingForm" name="bookingForm" style="display:inline;" onsubmit="return false;">
    <table>
    <tr>
        <td class="label">    
            <label for="{{notes}}">{{notesLabel}}</label>
        </td>
        <td>
            <input type="text"
            id="{{notes}}"
            name="{{notes}}"
            dojoType="dijit.form.TextBox"
            required="false"
            disabled="false"
            ucfirst="false"
            value=""
            invalidMessage="" />        
        </td>
    </tr>        
    <tr>
        <td>
            <label for="{{amount}}">{{amountLabel}}</label>
        </td>    
        <td>
            <input type="text" id="amount"  name="amount" dojoType="dijit.form.TimeTextBox" constraints=" {formatLength:'short', timePattern:'HH:mm'}" value="T00:00" style="width:55px" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="{{amount}}">{{amountLabel}}</label>
        </td>    
        <td>
            <input type="text" id="amount"  name="amount" dojoType="dijit.form.TimeTextBox" constraints=" {formatLength:'short', timePattern:'HH:mm'}" value="T00:00" style="width:55px" />
        </td>
    </tr>
    <tr>
        <td colspan=2>
            <button dojoType="dijit.form.Button" baseClass="positive" id="bookingSaveButton" type="submit" iconClass="disk"></button>
        </td>
    </tr>    
    </table>        
</form>