<div>
    <h4 style="color: #294064; font-weight: bold;">{{timecardProjectTimesText}}<br />{{dateForm}}</h4>
</div>

<div dojoType="dojo.dnd.Source" id="projectBookingSource" copyOnly="true" selfAccept="false" style="background-color: white; border: 2px solid black; width:700px; margin: 4px; padding-top: 4px;">
{% for item in values %}
    <div class="dojoDndItem" id="{{item.id}}">{{item.name}}</div>
{% endfor %}
</div>
    
<div style="width:700px; margin: 4px;">
{% for hour in hours %}
    <div id="hours{{hour}}" dojoType="dijit.layout.ContentPane" style="background-color: white; display:block; float: left; width: {{hourWidth}}px;">
        <span style="float: left;">{{hour}}</span>
    {% ifequal hour 19 %}
    <span style="float: right;">20</span>
    {% endifequal %}
    </div>
{% endfor %}
</div>

<div id="projectBookingContainer" dojoType="dijit.layout.ContentPane" style="background-color: white; border: 2px solid black; width:700px; margin: 4px; height:25px; padding-top: 4px; overflow:hidden;">
</div>

{{bookingdata|safe}}