<div>
    <h4 style="color: #294064; font-weight: bold;">{{timecardProjectTimesText}}</h4>
</div>

<p dojoType="dojo.dnd.Source" id="projectBookingSource" jsId="projectBookingSource" copyOnly="true" selfAccept="false" style="background-color: white; border: 2px solid black; width:700px; margin: 4px; padding-top: 4px;">
{% for item in values %}
    <span class="dojoDndItem" id="{{item.id}}" style="cursor: move;">{{item.name}}</span>
{% endfor %}
</p>
<button dojoType="dijit.form.Button" onclick="dijit.byId('manageFavorites').show()">{{manageFavoritesText}}</button>
<div dojoType="dijit.Dialog" id="manageFavorites" title="{{manageFavoritesText}}" draggable="false" style="background-color: white; width:auto; height:auto;">
    <div dojoType="phpr.Timecard.Favorites" id="projectFavoritesSource" selfAccept="false" style="background-color: white; border: 2px solid black; width:200px; margin: 4px; padding-top: 4px; float:left;">
        {% for item in allProjects %}
        <div class="dojoDndItem" id="favoritesTarget-{{item.id}}" style="cursor: move;">{{item.name}}</div>
        {% endfor %}
    </div>
    <div dojoType="phpr.Timecard.Favorites" id="projectFavoritesTarget" jsId="projectFavoritesTarget" selfAccept="false" style="background-color: white; border: 2px solid black; width:200px; margin: 4px; padding-top: 4px; float: right;">
        {% for item in values %}
        <div class="dojoDndItem" id="favoritesSoruce-{{item.id}}" style="cursor: move;">{{item.name}}</div>
        {% endfor %}
    </div>
    <input id="selectedProjectFavorites" name="selectedProjectFavorites" type="hidden" value="{% for item in values %}{{item.id}},{% endfor %}" />
    <button dojoType="dijit.form.Button" onclick="dijit.byId('manageFavorites').hide();" style="float: right;">OK</button>
</div>    
<br />
<div class="greyContainer" style="width:698px; font-weight: bold; text-align:center;">{{helpText}}</div>
<br />  
<div style="width:700px; margin: 4px;">
{% for hour in hours %}
    <div id="hours{{hour}}" dojoType="dijit.layout.ContentPane" style="background-color: white; display:block; float: left; width: {{hourWidth}}px;">
        <span style="float: left;">{{hour}}</span>
    {% ifequal hour 19 %}
    <span style="float: right;">20</span>
    {% endifequal %}
    </div>
{% endfor %}
</div>

<div id="projectBookingContainer" dojoType="dijit.layout.ContentPane" style="background-color: white; border: 2px solid black; width:700px; margin: 4px; height:27px; padding-top: 4px; overflow:hidden;">
</div>

{{bookingdata|safe}}