<div id="dayViewContent-Timecard"
style="position: absolute; height: 960px; overflow: hidden;">
{% for hour in hours %}
    <div id="hours{{hour.hour}}-Timecard" dojoType="dijit.layout.ContentPane" class="{{hour.class}}">
        <div class="hourBox"
        {% ifequal hour.hour 0 %}
        style="border-top: 0px;"
        {% else %}
            {% ifequal hour.hour 23 %}
        style="border-bottom: 0px;"
            {% endifequal %}
        {% endifequal %}
        >
            <span>{{hour.display}}</span>
            <button dojoType="dijit.form.Button" showLabel="false" iconClass="add" class="addButton"
            onClick="dojo.publish('Timecard.formProxy', ['fillFormTime', '{{hour.hour}}']);">
            </button>
            <div dojoType="dijit.Tooltip" connectId="buttonHours{{hour.hour}}-Timecard"
            label="{{tooltipHelpTxt}}">
            </div>
            <div id="buttonHours{{hour.hour}}-Timecard" dojoType="dijit.layout.ContentPane" class="hiddenTooltipPoint">
            </div>
        </div>
    </div>
{% endfor %}
    <div id="projectBookingContainer-Timecard" dojoType="dijit.layout.ContentPane"
    style="position: absolute; top: 0%; left: 7em; margin: 0px; height: 960px; padding-top: 0px;
    overflow: hidden; width: 80%;">
    </div>
</div>
