<div>
    <div dojoAttachPoint="timecardDayView" class="timecardDayView">
        <table>
            <thead>
                <tr>
                    <th class="timecardDayViewTHead">{{start}}</th>
                    <th class="timecardDayViewTd timecardDayViewTHead">{{end}}</th>
                    <th class="timecardDayViewTd timecardDayViewTHead">{{hours}}</th>
                    <th class="timecardDayViewTd timecardDayViewTHead">{{project}}</th>
                    <th class="timecardDayViewTd timecardDayViewTHead">{{note}}</th>
                </tr>
            </thead>
            <tfoot><tr><td class="timecardDayViewFooter" colspan="5" dojoAttachPoint="footer"></td></tr></tfoot>
            <tbody dojoAttachPoint="list"></tbody>
        </table>
        <hr>
        <div dojoAttachPoint="form" dojoType="dijit.layout.ContentPane"></div>
    </div>
</div>
