<div id="timecardDayView"
style="position: absolute; height: 480px; overflow: hidden;">
{% for hour in hours %}
    {% ifequal hour.pair 0 %}
    <div id="hours{{hour.hour}}" dojoType="dijit.layout.ContentPane" class="dayViewWhite">
    {% else %}
    <div id="hours{{hour.hour}}" dojoType="dijit.layout.ContentPane" class="dayViewCelestial">
    {% endifequal %}
    {{hour.display}}
    <button dojoType="dijit.form.Button" showLabel="false" iconClass="add" class="addButton"
    onClick="dojo.publish('Timecard.fillFormTime', ['{{hour.hour}}']);">
    </button>
    </div>
{% endfor %}
    <div id="projectBookingContainer" dojoType="dijit.layout.ContentPane"
    style="position: absolute; top: 0%; left: 15%; margin: 0px; height: 480px; padding-top: 0px;
    overflow: hidden; width: 80%;">
    </div>
</div>
