<div dojoType="phpr.Timecard.Favorites" id="projectFavoritesSource" selfAccept="false"
 style="background-color: white; border: 2px solid black; width: 200px; margin: 4px; padding-top: 4px; float: left;">
    {% for item in allProjects %}
    <div class="dojoDndItem" id="favoritesTarget-{{item.id}}"
    style="cursor: move;">
        {{item.name}}
    </div>
    {% endfor %}
</div>

<div dojoType="phpr.Timecard.Favorites" id="projectFavoritesTarget" jsId="projectFavoritesTarget" selfAccept="false"
 style="background-color: white; border: 2px solid black; width: 200px; margin: 4px; padding-top: 4px; float: right;">
    {% for item in favoritesList %}
    <div class="dojoDndItem" id="favoritesSoruce-{{item.id}}"
    style="cursor: move;">
        {{item.name}}
    </div>
    {% endfor %}
</div>
<input id="selectedProjectFavorites" name="selectedProjectFavorites" type="hidden"
value="{% for item in favoritesList %}{{item.id}}, {% endfor %}" />