<table width="100%" id="dialogContent-Timecard">
<tr>
    <td colspan="2"
    style="vertical-align: top; text-align: center;">
    <b>{{titleTxt}}</b>
    <br />
    {{helpTxt}}
    </td>
</tr>
<tr>
    <td
    style="width: 50%; text-align: top;">
        <div id="projectFavoritesSource-Timecard"
        style="background-color: white; border: 2px solid black; width: 300px; margin: 4px; padding-top: 4px;
        float: left; height: 250px; overflow: auto;">
        </div>
    </td>
    <td
    style="width: 50%; vertical-align: top;">
        <div id="projectFavoritesTarget-Timecard"
        style="background-color: white; border: 2px solid black; width: 300px; margin: 4px; padding-top: 4px;
        float: right; height: 250px; overflow: auto;">
        </div>
    </td>
</tr>
<tr>
    <td colspan="2"
    style="vertical-align: top; text-align: center;">
        <button dojoType="dijit.form.Button" onclick="dijit.byId('manageFavorites-Timecard').hide();"
        type="button" baseClass="positive" iconClass="tick"
        style="float: center; padding-right: 10px; padding-left: 10px;">
        </button>
    </td>
</tr>
</table>
