<div>
    <!-- Form -->
    <div dojoType="dijit.layout.ContentPane" dojoAttachPoint="projectBookingForm" style="overflow-y: auto;"
            class="projectBookingForm">
        <form dojoType="dijit.form.Form" dojoAttachPoint="bookingForm" name="bookingForm" onsubmit="return false;"
        style="display: inline;">
        <table class="form formContainer">
        <col class="col1" />
        <col class="col2" />
        <col class="col3" />
        <tr dojoAttachPoint="formBottom">
            <td>&nbsp;</td>
            <td>
                <button dojoType="dijit.form.Button" baseClass="positive" dojoAttachPoint="saveBookingButton"
                    type="button" iconClass="tick">
                    {{saveText}}
                </button>
                &nbsp;
                <div id="deleteBookingButtonDiv"
                style="display: none;">
                    <button dojoType="dijit.form.Button" baseClass="positive" dojoAttachPoint="deleteBookingButton"
                        class="deleteBookingButton" type="button" iconClass="cross">
                        {{deleteText}}
                    </button>
                </div>
            </td>
            <td>&nbsp;</td>
        </tr>
        </table>
        </form>
    </div>
</div>
