<div dojoType="dijit.layout.BorderContainer"
 style="width: 100%; height: 100%">
    <!-- Hours -->
    <div dojoType="dijit.layout.ContentPane" splitter="false" region="left" id="TimecardHours"
    style="width: 24%;">
    </div>
    <!-- Bookings -->
    <div dojoType="dijit.layout.ContentPane" region="center" id="TimecardBooking" class="prepend-24"
    style="height: 100%;">
        <!-- Title -->
        <div
        style="height: 30px;">
            <h4
            style="color: #294064; font-weight: bold; float: left;">&nbsp;{{timecardProjectTimesText}}</h4>
            &nbsp;
            <button dojoType="dijit.form.DropDownButton" showLabel="false" iconClass="help" class="tooltip">
                <div dojoType="dijit.TooltipDialog">
                    <div
                    style="white-space: nowrap;">
                    {{projectTimesHelpText}}
                    </div>
                </div>
            </button>
        </div>

        <!-- Left Panel -->
        <div
        style="position: absolute; top: 10%; width: 50%; left: 0%; float: left;">
            <!-- Projects -->
            <div dojoType="dojo.dnd.Source" id="projectBookingSource" jsId="projectBookingSource" copyOnly="true"
            selfAccept="false"
            style="margin: 4px; padding: 4px;">
            </div>
            <!-- Favorites -->
            <button dojoType="dijit.form.Button" id="buttonManageFavorites"
            style="margin: 6px;">
                {{manageFavoritesText}}
            </button>

            <div dojoType="dijit.Dialog" id="manageFavorites" title="{{manageFavoritesText}}" draggable="false"
            style="background-color: white; width: 500px; height: auto;">
                <div id="dialogContent">
                </div>
            </div>
            <br />
            <div id="projectBookingData" dojoType="dijit.layout.ContentPane">
            </div>
        </div>

        <!-- Right Panel -->
        <div id="rightTimecardPanel"
        style="position: absolute; top: 10%; left: 50%; width: 48%; height: 260px; float: right; overflow: hidden;">
            {% for hour in hours %}
                {% ifequal hour.pair 0 %}
            <div id="hours{{hour.hour}}" dojoType="dijit.layout.ContentPane"
            style="background-color: white; float: left; width: 100%; margin-left: 0px; z-index: -10; height: 20px;">
                {% else %}
            <div id="hours{{hour.hour}}" dojoType="dijit.layout.ContentPane"
            style="background-color: #e9f3ff; float: left; width: 100%; margin-left: 0px; z-index: -10; height: 20px;">
                {% endifequal %}
                {{hour.hour}}
            </div>
            {% endfor %}

            <div id="projectBookingContainer" dojoType="dijit.layout.ContentPane"
            style="position: absolute; top: 0%; left: 15%; margin: 0px; height: 260px; padding-top: 0px;
            overflow: hidden; float: right; filter: alpha(opacity=50); opacity: .5; width: 100%;">
            </div>
        </div>
    </div>
</div>