<div dojoType="dijit.layout.BorderContainer" style="width:100%; height:100%">
    <!-- Date -->
    <div dojoType="dijit.layout.ContentPane" region="top" id="TimecardDate" class="prepend-24" style="height:7%; overflow:hidden;">
    </div>
    <!-- Hours -->
    <div dojoType="dijit.layout.ContentPane" style="width:25%;" splitter="true" region="left" id="TimecardHours">
    </div>
    <!-- Bookings -->
    <div dojoType="dijit.layout.ContentPane" region="center" id="TimecardBooking" class="prepend-24" style="height:93%;">
    </div>
</div>