<div style="vertical-align: baseline; margin-left:20px; margin-right:20px; background: #F1CE47; border: 1px solid #F1CE47; radius:8pt; -moz-border-radius:8pt 8pt; padding:5px;">
    <div style="vertical-align: baseline; margin-left:1px; margin-right:1px; background: #fff; border: 1px solid #F1CE47; radius:8pt; -moz-border-radius:8pt 8pt; padding:5px;">
        <div style="color: #294064; font-size: 25px; text-align: center">
            {{hoursDiff}}
        </div>
        <div style="color: #294064; text-align: center">
            {{start}} - {{end}}
        </div>
        <div style="text-align: center; padding-top:5px;">
            <button dojoType="dijit.form.Button" baseClass="negative" id="deleteHourButton_{{id}}" type="submit" iconClass="cross">{{deleteText}}</button>
        </div>
    </div>
</div>
<br />