<div dojoType="dijit.layout.BorderContainer" design="sidebar" style="width:100%; height:100%">
    <!-- Timecards main Content -->
    <div dojoType="dijit.layout.ContentPane" style="width:70%;" splitter="true" region="leading" class="prepend-24" id="detailsBox">
    </div>
    <!-- Timecards summary views buttons -->
    <div dojoType="dijit.layout.ContentPane" region="top" id="changeView" class="prepend-24" style="height:5%;">
        <a href="javascript:dojo.publish('Timecard.changeListView',['month']);">Month</a>
        <a href="javascript:dojo.publish('Timecard.changeListView',['today']);">Today</a>
    </div>
    <!-- Timecards summary  -->
    <div dojoType="dijit.layout.ContentPane" region="center" id="gridBox" class="prepend-24">
    </div>
</div>