<div dojoType="dijit.layout.BorderContainer" design="sidebar" style="width:100%; height:100%">
    <!-- Timecards main Content -->
    <div dojoType="dijit.layout.ContentPane" style="width:70%;" splitter="true" region="leading" class="prepend-24" id="detailsBox">
    </div>
    <!-- Timecards summary views buttons -->
    <div dojoType="dijit.layout.ContentPane" region="top" id="changeView" class="prepend-24" style="height:7%;">
        <div style="float: left; width: 50%">
            <label for="selectDate">{{selectDate}}</label>
            <br />
            <input id="selectDate" name="selectDate" type="text" dojoType="dijit.form.DateTextBox" constraints="{datePattern:'yyyy-MM-dd', strict:true}" value="{{date}}" style="width:70%"
                onMouseEnter=""
                onMouseLeave=""
                onKeyDown=""            
                onChange="
                if (this.value != null) {
                    dojo.publish('Timecard.changeDate',[dijit.byId('selectDate').attr('value')]);
                    dojo.byId('hoursSaveButton').focus();
                } ">
        </div>
        <div style="float: left; width: 50%">
            <h4 style="color: #294064; font-weight: bold;">{{dateForm}}</h4>
        </div>
    </div>
    <!-- Timecards summary  -->
    <div dojoType="dijit.layout.ContentPane" region="center" id="gridBox" class="prepend-24">
    </div>
</div>