<div dojoType="dijit.layout.BorderContainer" design="sidebar" style="width:100%; height:100%">
    <!-- Timecards main Content -->
    <div dojoType="dijit.layout.ContentPane" style="width:80%;" splitter="false" region="leading" class="prepend-24" id="detailsBox">
    </div>
    <!-- Timecards summary views buttons -->
    <div dojoType="dijit.layout.ContentPane" region="top" id="changeView" class="prepend-24" style="height:6%; overflow:hidden;">
        <div>
            <div style="float:left; width:35%; margin-left: 0px;">
                {{selectDate}}
            </div>
            <div style="float:left; width:40%; margin-left: 0px;">
                <input id="selectDate" name="selectDate" type="text" dojoType="dijit.form.DateTextBox" constraints="{datePattern:'yyyy-MM-dd', strict:true}" style="width: 100%">
            </div>
            <div style="float:right; margin-left: 0px; margin-right: 2px;">
                <button dojoType="dijit.form.Button" baseClass="positive" type="submit" iconClass="tick" onClick="
                if (dijit.byId('selectDate').attr('value') != null) {
                    dojo.publish('Timecard.changeDate',[dijit.byId('selectDate').attr('value')]);
                    dojo.byId('hoursSaveButton').focus();
                }
                "></button>
            </div>
        </div>
    </div>
    <!-- Timecards summary  -->
    <div dojoType="dijit.layout.ContentPane" region="center" id="gridBox" class="prepend-24">
    </div>
</div>