<table id="tableMonthView">
<col class="col1" />
<col class="col2" />
<col class="col3" />
<tr>
    <td colspan="2"
    style="padding: 0 3.5em;">{{monthTxt}}</td>
    <td>{{sumTxt}}</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td colspan="2"
    style="padding-left: 6em;">{{totalTxt}}</td>
    <td>{{total}}</td>
</tr>
{% for day in dates %}
<tr class="{{day.weekClass}}">
    <td style="text-align: right;">{{day.week}}</td>
    <td>
        <a href="javascript:
        var date = phpr.Date.isoDateTojsDate('{{day.date}}');
        dijit.byId('selectDate').attr('value', new Date(date.getFullYear(), date.getMonth(), date.getDate()));
        dojo.publish('Timecard.changeDate', [date]);">{{day.date}}</a>
    </td>
    <td>{{day.sum}}</td>
</tr>
{% endfor %}
</table>
