<table dojoAttachPoint="tableMonthView" class="tableMonthView">
<col class="col1" />
<col class="col2" />
<col class="col3" />
<tbody>
    <tr>
        <td colspan="2"
        style="text-align: center;">
            <b>{{monthTxt}}</b>
            <div class="timecardSeparator"></div>
        </td>
        <td>
            <input dojoAttachPoint="selectDate" name="selectDate" type="text" dojoType="dijit.form.DateTextBox"
            constraints="{datePattern: 'yyyy-MM-dd', strict: true}"
            style="width: 90px;" />
            <button dojoType="dijit.form.Button" dojoAttachPoint="selectDateButton" baseClass="positive" type="button"
                iconClass="tick" class="smallIcon"></button>
            <div class="timecardSeparator"></div>
        </td>
    </tr>
    <tr dojoAttachPoint="monthViewFooter">
        <td colspan="2"
        style="text-align: right;">
        <div class="timecardSeparator"></div>
        {{totalTxt}}
        </td>
        <td class="{{totalClass}}">
        <div class="timecardSeparator"></div>
        {{total}}</td>
    </tr>
</tbody>
</table>
