<tr>
    <td class="label">
        <label for="{{labelfor}}">{{label}}</label>
    </td>
    <td colspan="2">
        <table id="accessTable">
        <tr>
            <td>
                {{accessModuleText}}
            </td>
            <td>
                {{accessReadText}}
            </td>
            <td>
                {{accessWriteText}}
            </td>
            <td>
                {{accessCreateText}}
            </td>
            <td>
                {{accessAdminText}}
            </td>
        </tr>
        {% for module in modules %}
        <tr id="trAccessFor{{module.id}}">
            <td>
                <input id="dataAccess[{{module.id}}]" name="dataAccess[{{module.id}}]" type="hidden"
                value="{{module.name}}" dojoType="dijit.form.TextBox" />
                {{module.label}}
            </td>
            <td>
                <input type="checkbox" dojotype="phpr.Default.System.Form.CheckBox" id="checkReadAccess[{{module.id}}]"
                name="checkReadAccess[{{module.id}}]"
                {% if module.read %}
                checked
                {% endif %}
                value="1" />
            </td>
            <td>
                <input type="checkbox" dojotype="phpr.Default.System.Form.CheckBox" id="checkWriteAccess[{{module.id}}]"
                name="checkWriteAccess[{{module.id}}]"
                {% if module.write %}
                checked
                {% endif %}
                value="1" />
            </td>
            <td>
                <input type="checkbox" dojotype="phpr.Default.System.Form.CheckBox" id="checkCreateAccess[{{module.id}}]"
                name="checkCreateAccess[{{module.id}}]"
                {% if module.create %}
                checked
                {% endif %}
                value="1" />
            </td>
            <td>
                <input type="checkbox" dojotype="phpr.Default.System.Form.CheckBox" id="checkAdminAccess[{{module.id}}]"
                name="checkAdminAccess[{{module.id}}]"
                {% if module.admin %}
                checked
                {% endif %}
                value="1" />
            </td>
        </tr>
        {% endfor %}
        </table>
    </td>
</tr>
